<template>
  <v-container>
    <v-snackbar
      v-if="this.statusRespon === 'duplicate data'"
      v-model="snackbarMessage"
      color="error"
      top
    >
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-else v-model="snackbarMessage" color="primary" top>
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <!-- Data Table -->
    <v-sheet elevation="4" class="rounded-lg">
      <v-data-table
        dense
        :headers="headers"
        :items="filteredRows"
        v-model="checked_logs"
        show-select
        class="table-log"
      >
        <!-- Autocomplete Search -->
        <template v-slot:header="{ props: { headers } }">
          <thead>
            <tr>
              <td :colspan="headers">
                <v-icon>mdi-filter-variant</v-icon>
              </td>
              <td :colspan="headers" height="40px">
                <v-autocomplete
                  v-model="computedAutoComplete.name_log"
                  :items="logs"
                  :loading="isLoading"
                  :search-input.sync="auto_search.name_log"
                  hide-no-data
                  hide-selected
                  item-text="name_log"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Log Name"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
              <td :colspan="headers" height="40px">
                <v-autocomplete
                  v-model="computedAutoComplete.explanation"
                  :items="logs"
                  :loading="isLoading"
                  :search-input.sync="auto_search.explanation"
                  hide-no-data
                  hide-selected
                  item-text="explanation"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Explanation"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
              <td :colspan="headers" height="40px">
                <v-autocomplete
                  v-model="computedAutoComplete.workaround"
                  :items="logs"
                  :loading="isLoading"
                  :search-input.sync="auto_search.workaround"
                  hide-no-data
                  hide-selected
                  item-text="workaround"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Workaround"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
              <td>
                <v-autocomplete
                  v-model="computedAutoComplete.technology"
                  :items="logs"
                  :loading="isLoading"
                  :search-input.sync="auto_search.technology"
                  hide-no-data
                  hide-selected
                  item-text="technology"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Technology"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
              <td>
                <v-autocomplete
                  v-model="model.generated_by"
                  :items="logs"
                  :loading="isLoading"
                  :search-input.sync="auto_search.generated_by"
                  hide-no-data
                  hide-selected
                  item-text="generated_by"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Last Modified By"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
            </tr>
          </thead>
        </template>
        <!-- Judul and Button Atas -->
        <template v-slot:top>
          <v-toolbar flat dense>
            <v-toolbar-title>
              <div class="primary--text body-1">
                <v-icon left color="primary"> fas fa-plus-square </v-icon>ADD
                LOG APPROVAL
              </div>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title
              ><v-btn
                color="primary"
                class="ml-1 d-none"
                @click="
                  editedItem.generated_by = email
                  dialog = true
                "
              >
                <v-icon left> fas fa-plus-square </v-icon>
                New Data
              </v-btn>
              <v-btn
                color="primary"
                class="d-none"
                @click="
                  csvExport(checked_logs.length > 0 ? checked_logs : logs)
                "
                ><v-icon left> fas fa-file-export </v-icon>
                Export
              </v-btn></v-toolbar-title
            >
          </v-toolbar>
        </template>

        <!-- Table Content -->
        <template v-slot:body="{ items }">
          <tbody v-if="items.length > 0">
            <tr
              v-for="item in items"
              :key="item.id"
              @mouseover="selectItem(item)"
              @mouseleave="unSelectItem()"
            >
              <td v-if="item.approval_id === 0">
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-on="on">
                      <v-checkbox
                        v-bind="attrs"
                        v-on="on"
                        multiple
                        v-model="checked_logs"
                        :value="item"
                        :ripple="false"
                        hide-details
                        class="ma-0 pa-0 save"
                      ></v-checkbox>
                    </span>
                  </template>
                  <span>Checklist</span>
                </v-tooltip>
              </td>
              <td class="truncate" v-if="item.approval_id === 0">
                {{ item.name_log }}
              </td>
              <td
                class="truncate"
                style="text-align: center"
                v-if="item.approval_id === 0"
              >
                {{ item.explanation }}
              </td>
              <td
                class="truncate"
                style="text-align: center"
                v-if="item.approval_id === 0"
              >
                {{ item.workaround }}
              </td>
              <td
                class="truncate"
                style="text-align: center"
                v-if="item.approval_id === 0"
              >
                {{ item.technology }}
              </td>
              <td
                class="truncate"
                style="text-align: center"
                v-if="item.approval_id === 0"
              >
                {{ item.date_generated }}
              </td>
              <td
                class="truncate"
                style="text-align: center"
                v-if="item.approval_id === 0"
              >
                {{ item.generated_by }}

                <!-- Action Hide no Hide -->
                <div class="d-flex justify-center">
                  <v-tooltip top v-if="item === selectedItem">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        medium
                        @click="Approve(item)"
                        v-bind="attrs"
                        v-on="on"
                        :class="disabledDelete"
                        class="approve pr-1"
                      >
                        fas fa-check-square
                      </v-icon>
                    </template>
                    <span>Approve</span>
                  </v-tooltip>
                  <v-tooltip top v-if="item === selectedItem">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        medium
                        @click="Reject(item)"
                        v-bind="attrs"
                        v-on="on"
                        :class="disabledChecker"
                        class="reject pr-1"
                      >
                        fas fa-window-close
                      </v-icon>
                    </template>
                    <span>Reject</span>
                  </v-tooltip>
                  <v-tooltip top v-if="item === selectedItem">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        medium
                        @click="copyItem(item)"
                        v-bind="attrs"
                        v-on="on"
                        class="approve"
                      >
                        fas fa-eye
                      </v-icon>
                    </template>
                    <span>Show</span>
                  </v-tooltip>
                </div>
              </td>
            </tr>
          </tbody>
          <!-- Reset Ketika Tidak Ada Data -->
          <tbody v-else>
            <tr>
              <td colspan="7">
                <v-row align="center">
                  <v-col align="center" justify="center">
                    <h1>No Data</h1>
                  </v-col>
                </v-row>
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </v-sheet>

    <!-- Dialog Copy -->
    <v-dialog v-model="dialogCopy" max-width="500px">
      <v-card>
        <v-card-title class="headline justify-center"
          >Copy to Clipboard</v-card-title
        >
        <textarea
          class="textarea"
          ref="textToClipboard"
          v-model="clipBoardValue"
          readonly
        ></textarea>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="primary" @click="copyItemConfirm"
            ><v-icon left> fas fa-copy </v-icon>Copy</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog Reject -->
    <v-dialog v-model="dialogReject" max-width="500px">
      <v-card>
        <v-card-title class="headline justify-center error"
          >Are you sure Reject this request?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="closeReject"
            ><v-icon left> fas fa-times</v-icon>Cancel</v-btn
          >
          <v-btn text color="error" @click="rejectItem"
            ><v-icon left> fas fa-check </v-icon>OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog Approve -->
    <v-dialog v-model="dialogApprove" max-width="500px">
      <v-card>
        <v-card-title class="headline justify-center"
          >Are you sure Approve this request?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="error" @click="closeApprove"
            ><v-icon left> fas fa-times</v-icon>Cancel</v-btn
          >
          <v-btn text color="primary" @click="approveItem"
            ><v-icon left> fas fa-check </v-icon>OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    dialogCopy: false,
    dialogReject: false,
    dialogApprove: false,
    datemenusearch: false,
    datemenuedit: false,
    snackbarMessage: false,
    valid: true,
    rules: {
      required: (value) => !!value || 'Required.',
      min: (v) => v !== '' || 'This field is required',
      emailMatch: () => `The email and password you entered don't match`,
      email: (value) => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Invalid e-mail.'
      },
    },
    headers: [
      {
        text: 'NAME LOG',
        align: 'center',
        value: 'name_log',
        width: '16%',
      },
      {
        text: 'EXPLANATION',
        value: 'explanation',
        align: 'center',
        width: '16%',
      },
      {
        text: 'WORKAROUND',
        value: 'workaround',
        align: 'center',
        width: '16%',
      },
      {
        text: 'TECHNOLOGY',
        value: 'technology',
        align: 'center',
        width: '16%',
      },
      {
        text: 'LAST MODIFIED',
        value: 'date_generated',
        align: 'center',
        width: '16%',
      },
      {
        text: 'LAST MODIFIED BY',
        value: 'generated_by',
        align: 'center',
        width: '16%',
      },
      {
        text: 'APPROVAL ID',
        value: 'approval_id',
        align: 'center',
        class: 'd-none',
      },
    ],
    logs: [],
    editedIndex: -1,
    editedItem: {
      name_log: '',
      explanation: '',
      workaround: '',
      date_generated: new Date().toISOString().slice(0,10),
      generated_by: '',
      technology: '',
    },
    defaultItem: {
      name_log: '',
      explanation: '',
      workaround: '',
      date_generated: new Date().toISOString().slice(0,10),
      generated_by: '',
      technology: '',
    },
    checked_logs: [],
    // v-autocomplete
    descriptionLimit: 60,
    isLoading: false,
    model: {
      name_log: {},
      explanation: {},
      workaround: {},
      date_generated: {},
      generated_by: {},
      technology: {},
    },
    auto_search: {
      name_log: '',
      explanation: '',
      workaround: '',
      date_generated: '',
      generated_by: '',
      technology: '',
    },
    clipBoardValue: '',
    hide: 'd-none',
    noHide: '',
    selectedItem: false,
    message: '',
    statusRespon: '',
  }),
  computed: {
    email() {
      return this.$store.state.userauth.useremail
    },
    // disable checker
    disabledChecker() {
      // return !this.$store.state.userauth.isAdmin
      if (
        this.$store.state.userauth.isAdmin === true ||
        this.$store.state.userauth.isLevel === 'Supervisor' ||
        this.$store.state.userauth.isLevel === 'Manager' ||
        this.$store.state.userauth.isLevel === 'Direktur'
      ) {
        return this.noHide
      } else if (
        this.$store.state.userauth.isAdmin === false &&
        this.$store.state.userauth.isLevel === 'CE'
      ) {
        return this.hide
      } else {
        return this.noHide
      }
    },
    disabledGuest() {
      // return !this.$store.state.userauth.isLoggedIn
      if (this.$store.state.userauth.isLoggedIn === false) {
        return this.hide
      } else {
        return this.noHide
      }
    },
    computedAutoComplete() {
      const computedModel = this.model
      if (this.auto_search.name_log === '') {
        computedModel.name_log = {}
      }
      if (this.auto_search.explanation === '') {
        computedModel.explanation = {}
      }
      if (this.auto_search.workaround === '') {
        computedModel.workaround = {}
      }
      if (this.auto_search.date_generated === '') {
        computedModel.date_generated = {}
      }
      if (this.auto_search.generated_by === '') {
        computedModel.generated_by = {}
      }
      if (this.auto_search.technology === '') {
        computedModel.technology = {}
      }
      return computedModel
    },
    formTitle() {
      return this.editedIndex === -1 ? 'NEW DATA' : 'EDIT DATA'
    },
    filteredRows() {
      try {
        const filtered = this.logs.filter((item) => {
          return Object.keys(this.auto_search).every((key) =>
            String(item[key])
              .toString()
              .toLowerCase()
              .includes(
                (this.auto_search[key] === null
                  ? ''
                  : this.auto_search[key]
                ).toLowerCase()
              )
          )
        })
        return filtered.length > 0 ? filtered : []
      } catch (error) {
        return []
      }
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogReject(val) {
      val || this.closeReject()
    },
    dialogApprove(val) {
      val || this.closeApprove()
    },
    dialogCopy(val) {
      val || this.closeCopy()
    },
  },

  created() {
    axios
      .get('https://compnetmtc.com:5003/api/v1/portal/log_approval/')
      .then((res) => (this.logs = res.data))
      .catch((err) => console.log(err))
  },

  methods: {
    selectItem(item) {
      this.selectedItem = item
    },
    unSelectItem(item) {
      this.selectedItem = false
    },
    initialize() {
      axios
        .get('https://compnetmtc.com:5003/api/v1/portal/log_approval/')
        .then((res) => (this.logs = res.data))
        .catch((err) => console.log(err))
    },
    editItem(item) {
      this.editedIndex = this.logs.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    Reject(item) {
      this.editedIndex = this.logs.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogReject = true
    },
    Approve(item) {
      this.editedIndex = this.logs.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogApprove = true
    },
    copyItem(item) {
      this.editedIndex = this.logs.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogCopy = true
      this.clipBoardValue =
        'Name Log       :' +
        this.editedItem.name_log +
        '\n' +
        'Explanation    :' +
        this.editedItem.explanation +
        '\n' +
        'Workaround     :' +
        this.editedItem.workaround +
        '\n' +
        'Technology     :' +
        this.editedItem.technology +
        '\n' +
        'Date Generated :' +
        this.editedItem.date_generated +
        '\n' +
        'Generated By   :' +
        this.editedItem.generated_by
    },
    async rejectItem() {
      let dataLog = []
      const id = this.editedItem.id
      if (this.checked_logs.length === 0) {
        await axios
          .delete(
            'https://compnetmtc.com:5003/api/v1/portal/log_approval/' + id + '/'
          )
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Reject Data Failed'
            } else {
              this.message = 'Reject Data Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      } else {
        dataLog = this.checked_logs
        await axios
          .post(
            'https://compnetmtc.com:5003/api/v1/portal/log_approval/delete_selected/',
            {
              dataLog,
            }
          )
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Reject All Data Selected Failed'
            } else {
              this.message = 'Reject All Data Selected Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      }
      this.initialize()
      this.closeReject()
      this.$store.dispatch('getlogApp')
    },
    copyItemConfirm() {
      this.$refs.textToClipboard.select()
      document.execCommand('copy')
      this.closeCopy()
      this.statusRespon = false
      this.message = 'Copy Success'
      this.snackbarMessage = true
    },
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeReject() {
      this.dialogReject = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeApprove() {
      this.dialogApprove = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeCopy() {
      this.dialogCopy = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    currentDateTime() {
      const current = new Date()
      const date =
        current.getFullYear() +
        '-' +
        ('0' + (current.getMonth() + 1)).slice(-2) +
        '-' +
        current.getDate()
      const time =
        ('0' + (current.getHours())).slice(-2) +
        ':' +
        ('0' + (current.getMinutes())).slice(-2) +
        ':' +
        ('0' + (current.getSeconds())).slice(-2)
      const dateTime = date + ' ' + time

      return dateTime
    },
    async approveItem() {
      let dataLog = []
      const id = this.editedItem.id
      // console.log(this.id)
      if (this.checked_logs.length === 0) {
        await axios
          .post('https://compnetmtc.com:5003/api/v1/portal/log/', {
            name_log: this.editedItem.name_log.toUpperCase(),
            explanation: this.editedItem.explanation,
            workaround: this.editedItem.workaround,
            technology: this.editedItem.technology.toUpperCase(),
            date_generated: this.currentDateTime(),
            generated_by: this.editedItem.generated_by,
          })

          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Approve Add Data Failed/Duplicate Data'
            } else {
              this.message = 'Approve Add Data Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
        await axios.delete(
          'https://compnetmtc.com:5003/api/v1/portal/log_approval/' + id + '/'
        )
      } else {
        dataLog = this.checked_logs
        await axios
          .post('https://compnetmtc.com:5003/api/v1/portal/log/insert_selected/', {
            dataLog,
          })
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message =
                'Approve Add All Data Selected Failed/Duplicate Data'
            } else {
              this.message = 'Approve Add All Data Selected Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
        await axios.post(
          'https://compnetmtc.com:5003/api/v1/portal/log_approval/delete_selected/',
          {
            dataLog,
          }
        )
      }

      this.initialize()
      this.closeApprove()
      this.$store.dispatch('getlogApp')
    },
    csvExport(arrData) {
      let csvContent = 'data:text/csv;charset=utf-8,'
      csvContent += [
        Object.keys(arrData[0]).join(';'),
        ...arrData.map((item) => Object.values(item).join(';')),
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')

      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'Log Approval.csv')
      link.click()
    },
  },
}
</script>

<style scoped>
/* Background Color App */
.bg-color {
  background: #f3f2f3;
  color: rgba(0, 0, 0, 0.87);
}

/* Font App */
.v-application {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
}

/* Table Style */
/* .table-log {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 10px solid white;
  border-radius: 10px;
} */
.table-log table {
  border-collapse: collapse !important;
}
.table-log table tbody tr:last-of-type td,
.table-log table tbody tr th {
  border-bottom: 2px solid #036b84 !important;
}
.table-log table tbody tr td {
  padding: 0 10px !important;
  font-size: 12px;
}
.table-log tbody tr:hover:not(.v-data-table__expand-row) {
  background: unset !important;
  font-weight: bold;
  box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27) !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  padding: 15px 13px !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  background-color: #036b84;
  color: white;
  font-weight: 500;
}
/* Header Hover Table */
::v-deep .theme--light.v-data-table .v-data-table-log th.sortable.active,
::v-deep
  .theme--light.v-data-table
  .v-data-table-log
  th.sortable.active
  .v-data-table-log__icon,
::v-deep .theme--light.v-data-table .v-data-table-log th.sortable:hover {
  color: white;
}
/* Header Active Table */
::v-deep .theme--light.v-data-table .v-data-table-log th.sortable.active,
::v-deep
  .theme--light.v-data-table
  .v-data-table-log
  th.sortable.active
  .theme--light.v-data-table
  .v-data-table-log
  th.sortable:hover {
  color: white;
  /* border-top: 2px solid white !important; */
  border-bottom: 3px solid #d93025 !important;
}

/* Font Size Date Picker */
::v-deep
  .v-text-field
  > .v-input__control
  > .v-input__slot
  > .v-text-field__slot {
  font-size: 12px !important;
}
.icon-size i.v-icon {
  font-size: 20px !important;
}
/* Icon */
::v-deep
  i.v-icon.notranslate.v-data-table-log__icon.fas.fa-sort-up.theme--light {
  border-bottom: 0px !important;
}
::v-deep i.v-icon.notranslate.far.fa-square.theme--light:hover,
::v-deep
  .theme--light.v-data-table
  .v-data-table-log
  th.sortable
  .v-data-table-log__icon {
  color: white !important;
}
::v-deep button.v-icon.notranslate.v-icon--link.fas.fa-copy.theme--light:hover,
::v-deep button.v-icon.notranslate.v-icon--link.fas.fa-edit.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-chevron-right.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-chevron-left.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-caret-down.theme--light:hover {
  color: #036b84;
}
::v-deep
  button.v-icon.notranslate.v-icon--link.mdi.mdi-delete.theme--light:hover {
  color: #dc3545;
}
::v-deep i.v-icon.notranslate.far.fa-square.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-minus-square.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-check-square.theme--light {
  font-size: 20px;
}
::v-deep .v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: unset;
}
::v-deep i.v-icon.notranslate.fas.fa-search.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-search.theme--light.primary--text,
::v-deep
  button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light,
::v-deep
  button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light.primary--text {
  font-size: 16px;
}
::v-deep i.v-icon.notranslate.mdi.mdi-calendar.theme--light,
::v-deep i.v-icon.notranslate.mdi.mdi-calendar.theme--light.primary--text {
  font-size: 20px;
}
::v-deep .theme--light.v-icon {
  color: inherit;
}
.delete:hover {
  color: #dc3545 !important;
}
.delete {
  color: rgba(0, 0, 0, 0.54) !important;
}
.save:hover {
  color: #036b84 !important;
}
.save {
  color: rgba(0, 0, 0, 0.54) !important;
}

/* Font Autocomplete Search */
::v-deep .v-select__slot {
  font-size: 12px;
}

/* Dialog Style */
::v-deep .v-card__title {
  background-color: #2b4c59;
  color: white;
}

/* Dialog Copy */
textarea {
  width: 100%;
  height: 200px;
  padding: 5px 5px 5px 20px;
}

/* Maksimal Kata dalam table */
.truncate {
  max-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 3px !important;
}

/* Hover Button Error */
.v-btn.danger:hover {
  background-color: #dc3545 !important;
  color: white !important;
}

/* Autocomplete Height and Size Label */
::v-deep
  .v-input.v-input--dense.theme--light.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--is-booted.v-text-field--enclosed.v-select.v-autocomplete,
::v-deep
  .v-input.v-input--is-readonly.v-input--dense.theme--light.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--is-booted.v-text-field--enclosed {
  height: 45px;
}
::v-deep label.v-label.theme--light {
  font-size: 11px;
}

.reject:hover {
  color: #dc3545 !important;
}
.reject {
  color: rgba(0, 0, 0, 0.54) !important;
}
.approve:hover {
  color: #036b84 !important;
}
.approve {
  color: rgba(0, 0, 0, 0.54) !important;
}
</style>
