<template>
  <v-container>
    <v-snackbar
      v-if="this.statusRespon === 'duplicate data'"
      v-model="snackbarMessage"
      color="error"
      top
    >
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-else v-model="snackbarMessage" color="primary" top>
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

    <!-- Data Table -->
    <v-sheet elevation="4" class="rounded-lg">
      <v-data-table
        dense
        :headers="headers"
        :items="filteredRows"
        v-model="checked_admin"
        show-select
        class="checked_admin"
      >
        <!-- Autocomplete Search -->
        <template v-slot:header="{ props: { headers } }">
          <thead>
            <tr>
              <td><v-icon>fas fa-search</v-icon></td>
              <td>
                <v-autocomplete
                  v-model="model"
                  :items="dataEngineer"
                  :search-input.sync="dataSearch.engineer_email"
                  hide-no-data
                  hide-selected
                  item-text="engineer_email"
                  item-value="engineer_email"
                  return-object
                  clearable
                  dense
                  solo
                  label="Search Engineer"
                >
                </v-autocomplete>
              </td>
              <td :colspan="headers" style="text-align: right">
                <v-btn medium color="primary" @click="Assign"
                  ><v-icon left> fas fa-plus-square </v-icon>Assign as
                  Admin</v-btn
                >
              </td>
            </tr>
            <!-- <tr>
            <td :colspan="headers">
              <v-icon>mdi-filter-variant</v-icon>
            </td>
            <td :colspan="headers" height="40px">
              <v-autocomplete
                v-model="computedAutoComplete.username"
                :items="dataAdmin"
                :loading="isLoading"
                :search-input.sync="auto_search.username"
                hide-no-data
                hide-selected
                item-text="username"
                item-value="API"
                return-object
                clearable
                dense
                solo
                label="Email"
                append-icon="fas fa-search"
              ></v-autocomplete>
            </td>
          </tr> -->
          </thead>
        </template>
        <!-- Judul and Button Atas -->
        <template v-slot:top>
          <v-toolbar flat dense>
            <v-toolbar-title>
              <div class="primary--text body-1">
                <v-icon left color="primary"> fas fa-plus-square </v-icon>ADD
                USER TO ADMIN
              </div>
            </v-toolbar-title>
          </v-toolbar>
        </template>

        <!-- Table Content -->
        <template v-slot:body="{ items }">
          <tbody v-if="items.length > 0">
            <tr v-for="item in items" :key="item.id">
              <td>
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-on="on">
                      <v-checkbox
                        v-bind="attrs"
                        v-on="on"
                        multiple
                        v-model="checked_admin"
                        :value="item"
                        :ripple="false"
                        hide-details
                        class="ma-0 pa-0 save"
                      ></v-checkbox>
                    </span>
                  </template>
                  <span>Checklist</span>
                </v-tooltip>
              </td>
              <td style="text-align: center">
                {{ item.username }}
              </td>
              <td style="text-align: center">
                <v-btn
                  small
                  class="danger mr-2"
                  color="primary"
                  @click="Delete(item)"
                  ><v-icon left> mdi-delete </v-icon>Delete</v-btn
                >
              </td>
            </tr>
          </tbody>
          <!-- Reset Ketika Tidak Ada Data -->
          <tbody v-else>
            <tr>
              <td colspan="6">
                <v-row align="center">
                  <v-col align="center" justify="center">
                    <h1>No Data</h1>
                  </v-col>
                </v-row>
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </v-sheet>

    <!-- <div>{{ listAdmin[0].username }}</div> -->

    <!-- Dialog Delete -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline justify-center error"
          >Are you sure Delete this user as Admin?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="closeDelete"
            ><v-icon left> fas fa-times</v-icon>Cancel</v-btn
          >
          <v-btn text color="error" @click="DeleteItem"
            ><v-icon left> fas fa-check </v-icon>OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog Assign -->
    <v-dialog v-model="dialogAssign" max-width="500px">
      <v-card>
        <v-card-title class="headline justify-center"
          >Are you sure Assign user as Admin?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="error" @click="closeAssign"
            ><v-icon left> fas fa-times</v-icon>Cancel</v-btn
          >
          <v-btn text color="primary" @click="AssignAdmin"
            ><v-icon left> fas fa-check </v-icon>OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    datemenusearch: false,
    snackbarMessage: false,
    dialogDelete: false,
    dialogAssign: false,
    valid: true,
    rules: {
      required: (value) => !!value || 'Required.',
      min: (v) => v !== '' || 'This field is required',
      emailMatch: () => `The email and password you entered don't match`,
      email: (value) => {
        const pattern =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Invalid e-mail.'
      },
    },
    headers: [
      {
        text: 'EMAIL',
        align: 'center',
        value: 'username',
      },
      {
        text: 'ACTIONS',
        value: 'actions',
        sortable: false,
        align: 'center',
        width: '25%',
      },
    ],
    dataAdmin: [],
    dataEngineer: [],
    dataSearch: {
      engineer_email: '',
    },
    editedIndex: -1,
    editedItem: {
      username: '',
    },
    defaultItem: {
      username: '',
    },
    checked_admin: [],
    // v-autocomplete
    descriptionLimit: 60,
    isLoading: false,
    model: {
      username: {},
    },
    auto_search: {
      username: '',
    },
    selectedItem: false,
    message: '',
    statusRespon: '',
  }),

  computed: {
    listAdmin() {
      return this.$store.state.listAdmin
    },
    computedAutoComplete() {
      const computedModel = this.model
      if (this.auto_search.username === '') {
        computedModel.username = {}
      }
      return computedModel
    },
    filteredRows() {
      try {
        const filtered = this.listAdmin.filter((item) => {
          return Object.keys(this.auto_search).every((key) =>
            String(item[key])
              .toString()
              .toLowerCase()
              .includes(
                (this.auto_search[key] === null
                  ? ''
                  : this.auto_search[key]
                ).toLowerCase()
              )
          )
        })
        return filtered.length > 0 ? filtered : []
      } catch (error) {
        return []
      }
    },
  },

  watch: {
    dialogDelete(val) {
      val || this.closeDelete()
    },
    dialogAssign(val) {
      val || this.closeAssign()
    },
  },

  created() {
    this.$store.dispatch('listAdmin')

    axios
      .get('https://mtcm.compnet.co.id/api/engineer.php')
      .then((response) => {
        // console.log('Atas')
        // console.log(response.data.engineer)
        // console.log('Bawah')
        this.dataEngineer = response.data.engineer
        // console.log(this.dataEngineer)
      })
      .catch((e) => console.log(e))
  },

  methods: {
    initializeAdmin() {
      this.$store.dispatch('listAdmin')
    },
    async AssignAdmin() {
      // console.log(admin)
      await axios
        .post(
          'https://compnetmtc.com:5003/api/v1/portal/admin/',
          {
            username: this.dataSearch.engineer_email,
          }
        )
        .then((response) => {
          // console.log(response.data.message)
          this.statusRespon = response.data.message
          if (this.statusRespon === 'duplicate data') {
            this.message = 'User is already as Admin or Please input email user'
          } else {
            this.message = 'User has been assign to Admin'
          }
          this.snackbarMessage = true
        })
        .catch((e) => {
          console.log(e)
        })
      this.initializeAdmin()
      this.closeAssign()
      this.$store.dispatch('listAdmin')
    },
    async DeleteItem() {
      const id = this.editedItem.id
      // console.log(admin)
      await axios
        .delete(
          'https://compnetmtc.com:5003/api/v1/portal/admin/' +
            id +
            '/'
        )
        .then((response) => {
          // console.log(response.data.message)
          this.statusRespon = response.data.message
          if (this.statusRespon === 'duplicate data') {
            this.message = 'User Delete Failed'
          } else {
            this.message = 'User Delete Success'
          }
          this.snackbarMessage = true
        })
        .catch((e) => {
          console.log(e)
        })
      this.initializeAdmin()
      this.closeDelete()
      this.$store.dispatch('listAdmin')
    },
    editItem(item) {
      this.editedIndex = this.dataAdmin.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    Delete(item) {
      this.editedIndex = this.dataAdmin.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    Assign() {
      this.dialogAssign = true
    },
    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeAssign() {
      this.dialogAssign = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
  },
}
</script>

<style scoped>
/* Background Color App */
.bg-color {
  background: #f3f2f3;
  color: rgba(0, 0, 0, 0.87);
}

/* Font App */
.v-application {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
}

/* Table Style */
/* .checked_admin {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 10px solid white;
  border-radius: 10px;
} */
.checked_admin table {
  border-collapse: collapse !important;
}
.checked_admin table tbody tr:last-of-type td,
.checked_admin table tbody tr th {
  border-bottom: 2px solid #036b84 !important;
}
.checked_admin table tbody tr td {
  padding: 0 10px !important;
  font-size: 12px;
}
.checked_admin tbody tr:hover:not(.v-data-table__expand-row) {
  background: unset !important;
  font-weight: bold;
  box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27) !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  padding: 15px 13px !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  background-color: #036b84;
  color: white;
  font-weight: 500;
}
/* Header Hover Table */
::v-deep .theme--light.v-data-table .v-data-checked_admin th.sortable.active,
::v-deep
  .theme--light.v-data-table
  .v-data-checked_admin
  th.sortable.active
  .v-data-checked_admin__icon,
::v-deep .theme--light.v-data-table .v-data-checked_admin th.sortable:hover {
  color: white;
}
/* Header Active Table */
::v-deep .theme--light.v-data-table .v-data-checked_admin th.sortable.active,
::v-deep
  .theme--light.v-data-table
  .v-data-checked_admin
  th.sortable.active
  .theme--light.v-data-table
  .v-data-checked_admin
  th.sortable:hover {
  color: white;
  /* border-top: 2px solid white !important; */
  border-bottom: 3px solid #d93025 !important;
}

/* Font Size Date Picker */
::v-deep
  .v-text-field
  > .v-input__control
  > .v-input__slot
  > .v-text-field__slot {
  font-size: 12px !important;
}
.icon-size i.v-icon {
  font-size: 20px !important;
}
/* Icon */
::v-deep
  i.v-icon.notranslate.v-data-checked_admin__icon.fas.fa-sort-up.theme--light {
  border-bottom: 0px !important;
}
::v-deep i.v-icon.notranslate.far.fa-square.theme--light:hover,
::v-deep
  .theme--light.v-data-table
  .v-data-checked_admin
  th.sortable
  .v-data-checked_admin__icon {
  color: white !important;
}
::v-deep button.v-icon.notranslate.v-icon--link.fas.fa-copy.theme--light:hover,
::v-deep button.v-icon.notranslate.v-icon--link.fas.fa-edit.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-chevron-right.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-chevron-left.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-caret-down.theme--light:hover {
  color: #036b84;
}
::v-deep
  button.v-icon.notranslate.v-icon--link.mdi.mdi-delete.theme--light:hover {
  color: #dc3545;
}
::v-deep i.v-icon.notranslate.far.fa-square.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-minus-square.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-check-square.theme--light {
  font-size: 20px;
}
::v-deep .v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: unset;
}
::v-deep i.v-icon.notranslate.fas.fa-search.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-search.theme--light.primary--text,
::v-deep
  button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light,
::v-deep
  button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light.primary--text {
  font-size: 16px;
}
::v-deep i.v-icon.notranslate.mdi.mdi-calendar.theme--light,
::v-deep i.v-icon.notranslate.mdi.mdi-calendar.theme--light.primary--text {
  font-size: 20px;
}
::v-deep .theme--light.v-icon {
  color: inherit;
}
.delete:hover {
  color: #dc3545 !important;
}
.delete {
  color: rgba(0, 0, 0, 0.54) !important;
}
.save:hover {
  color: #036b84 !important;
}
.save {
  color: rgba(0, 0, 0, 0.54) !important;
}

/* Font Autocomplete Search */
::v-deep .v-select__slot {
  font-size: 12px;
}

/* Dialog Style */
::v-deep .v-card__title {
  background-color: #2b4c59;
  color: white;
}

/* Dialog Copy */
textarea {
  width: 100%;
  height: 200px;
  padding: 5px 5px 5px 20px;
}

/* Maksimal Kata dalam table */
.truncate {
  max-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 3px !important;
}

/* Hover Button Error */
.v-btn.danger:hover {
  background-color: #dc3545 !important;
  color: white !important;
}

/* Autocomplete Height and Size Label */
::v-deep
  .v-input.v-input--dense.theme--light.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--is-booted.v-text-field--enclosed.v-select.v-autocomplete,
::v-deep
  .v-input.v-input--is-readonly.v-input--dense.theme--light.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--is-booted.v-text-field--enclosed {
  height: 45px;
}
::v-deep label.v-label.theme--light {
  font-size: 11px;
}
</style>
