<template>
  <v-footer dark padless class="nohide">
    <v-card flat tile width="100%" class="text-center">
      <v-card-text style="padding: 0px">
        <div class="row" style="margin-top: 0px">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col" style="padding-bottom: 2px">Made by:</div>
        </div>
        <div class="row" style="margin-bottom: -20px">
          <div class="col">
            <a href="https://www.compnet.co.id/" target="_blank">
              <v-img
                class="mx-auto"
                max-height="auto"
                max-width="120"
                :src="require(`~/assets/img/Compnet_putih.png`)"
              ></v-img
            ></a>
          </div>
          <div class="col">
            <a href="https://gitlab.com/ludes.developer" target="_blank"
              ><v-img
                class="mx-auto"
                max-height="auto"
                max-width="200"
                :src="require(`~/assets/img/Ludes.png`)"
              ></v-img>
            </a>
          </div>
          <div class="col" style="padding-top: 20px">
            <a
              href="https://www.linkedin.com/in/luthfi-anandra-0365552a"
              target="_blank"
              ><v-avatar size="60">
                <v-img
                  :src="require(`~/assets/img/Luthfi.jpg`)"
                ></v-img> </v-avatar
            ></a>
            <a href="https://www.linkedin.com/in/dedydar" target="_blank"
              ><v-avatar size="60">
                <v-img
                  :src="require(`~/assets/img/Dedar.jpg`)"
                ></v-img> </v-avatar
            ></a>
            <a
              href="https://www.linkedin.com/in/seski-ramadhan"
              target="_blank"
            >
              <v-avatar size="60">
                <v-img
                  :src="require(`~/assets/img/Seski.jpg`)"
                ></v-img> </v-avatar
            ></a>
          </div>
        </div>
        <div class="row" style="margin-bottom: 0px">
          <div class="col">PT Nusantara Compnet Integrator</div>
          <div class="col">
            ©{{ new Date().getFullYear() }} Ludes Developer. All rights
            reserved.
          </div>
          <div class="col">Luthfi Anandra | Dedy Darisman | Seski Ramadhan</div>
        </div>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {}
</script>

<style scope>
/* Footer Background */
.theme--dark.v-footer,
.theme--dark.v-card {
  /* background: linear-gradient(to left, #141e30, #243b55) !important; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 1) !important; */
  background-color: #2b4c59 !important;
}
.hide {
  z-index: 6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1) !important;
}
.nohide {
  z-index: 6;
}
</style>
