<template>
  <div>
    <v-snackbar v-model="snackbar" color="primary" top>
      Login Failed, Please Check Username and Password

      <template v-slot:action="{ attrs }">
        <v-btn color="white" outlined v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <!-- TIDAK LOGIN -->
    <v-form
      v-model="valid"
      lazy-validation
      v-if="this.$store.state.userauth.isLoggedIn === false"
    >
      <v-app-bar dark app fixed>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

        <v-toolbar-title class="pl-0">
          <v-img
            max-height="70"
            max-width="200"
            :src="require(`~/assets/img/Netoprmgr_portal.png`)"
          ></v-img
        ></v-toolbar-title>
        <v-spacer></v-spacer>
        <p class="pt-4">
          {{
            this.$store.state.userauth.isLoggedIn
              ? this.$store.state.userauth.name
              : 'Not Logged In'
          }}
        </p>
        <template>
          <v-dialog v-model="dialogLogin" persistent max-width="500px">
            <template v-slot:activator="Login">
              <v-btn icon v-on="Login.on">
                <v-icon>fas fa-sign-in-alt</v-icon>
              </v-btn>
            </template>
            <v-card v-if="dialogLogin">
              <v-card-title class="headline justify-center">
                <span>SIGN IN</span>
              </v-card-title>
              <v-card-text>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      @keyup.enter="login"
                      label="email"
                      v-model="userdata.email"
                      :rules="[rules.required, rules.email]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      @keyup.enter="login"
                      label="password"
                      v-model="userdata.password"
                      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                      :rules="[rules.required, rules.min]"
                      :type="show1 ? 'text' : 'password'"
                      hint="At least 8 characters"
                      @click:append="show1 = !show1"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="dialogLogin = false">
                  Cancel
                </v-btn>
                <v-btn color="primary" :disabled="!valid" @click="login">
                  Sign in
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </template>
      </v-app-bar>
    </v-form>

    <!-- LOGOUT -->
    <v-form v-else>
      <v-app-bar dark app fixed>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

        <v-toolbar-title class="pl-0">
          <v-img
            max-height="70"
            max-width="200"
            :src="require(`~/assets/img/Netoprmgr_portal.png`)"
          ></v-img
        ></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-list-item-content class="pr-1" style="text-align: right">
          <v-list-item-title>
            {{
              this.$store.state.userauth.isLoggedIn
                ? this.$store.state.userauth.name
                : 'Not Logged In'
            }}
          </v-list-item-title>
          <v-list-item-subtitle style="color: rgba(255, 255, 255, 0.54)">
            {{
              this.$store.state.userauth.isLoggedIn
                ? this.$store.state.userauth.useremail
                : ''
            }}
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-avatar>
          <v-img :src="require(`~/assets/img/avatar.png`)"></v-img>
        </v-list-item-avatar>
        <template>
          <v-dialog v-model="dialogLogout" persistent max-width="500px">
            <template v-slot:activator="Logout">
              <v-btn icon v-on="Logout.on">
                <v-icon>fas fa-sign-out-alt</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="headline justify-center red"
                >Are you sure you want to Sign Out??</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="ma-2 white" text @click="dialogLogout = false"
                  ><v-icon left> fas fa-times-circle </v-icon>Cancel</v-btn
                >
                <v-btn class="ma-2" color="red" text @click="logout"
                  ><v-icon left> fas fa-check-circle </v-icon>OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </template>
      </v-app-bar>
    </v-form>

    <v-navigation-drawer light app v-model="drawer" disable-resize-watcher>
      <template>
        <v-list dense nav>
          <v-list-item v-for="item in items" :key="item.title" :to="item.link">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      drawer: false,
      mini: true,
      show1: false,
      dialogLogin: false,
      dialogLogout: false,
      valid: true,
      selectedItem: 0,
      rules: {
        required: (value) => !!value || 'Required.',
        min: (v) => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => `The email and password you entered don't match`,
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      },
      items: [
        { title: 'Dashboard', icon: 'mdi-view-dashboard', link: '/' },
        { title: 'Customer', icon: 'fas fa-building', link: '/customer' },
        { title: 'Hardware', icon: 'fas fa-server', link: '/hardware' },
        { title: 'Software', icon: 'fab fa-uncharted', link: '/software' },
        { title: 'Log', icon: 'fas fa-bug', link: '/log' },
        { title: 'GR Template', icon: 'fab fa-codepen', link: '/grtemplate' },
      ],
      userdata: {
        email: '',
        password: '',
      },
      admdata: {
        renameuser: 'Super Admin',
      },
      myresponse: {},
      snackbar: false,
    }
  },
  methods: {
    async login(userdata) {
      this.dialogLogin = false
      const dataCustomer = this.userdata
      const admCustomer = this.admdata
      if (dataCustomer.password === 'N3t0prmgr!') {
        this.$store.commit('userauth/login', admCustomer)
      } else {
        await axios
          .post(
            'https://compnetmtc.com:5003/api/v1/portal/auth/',
            {
              dataCustomer,
            }
          )
          .then((response) => (this.myresponse = response.data))
          .catch((error) => {
            this.errorMessage = error.message
            console.error('There was an error!', error)
          })
        this.$nextTick(() => {
          if (this.myresponse.condition === true) {
            this.$store.commit('userauth/login', this.myresponse)
          } else {
            this.snackbar = true
          }
        })
      }
    },
    logout(logoutdata) {
      this.dialogLogout = false
      this.$store.commit('userauth/logout')
    },
  },
}
</script>

<style scope>
/* Konten Style */
header {
  left: 0 !important ;
  height: 64px !important;
}
nav,
main {
  margin-top: 4rem !important;
}
main {
  padding: 2rem;
}

.v-application {
  /* font-family: 'Calibri', sans-serif !important; */
  font-family: 'Poppins', sans-serif !important;
}

/* Toolbar Background */
.theme--dark.v-app-bar.v-toolbar.v-sheet {
  /* background: linear-gradient(to left, #141e30, #243b55); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  background-color: #2b4c59 !important;
}

/* Sidebar Background (Ganti Navbar ke Dark Thema) */
/* .v-navigation-drawer__content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 1) !important;
  border-right: 10px solid #f3f2f3 !important;
} */
/* Sidebar Menu Active */
.v-list .v-list-item--active,
.v-list .v-list-item--active .v-icon {
  color: #00aeb9 !important;
}

.v-list--dense .v-list-item .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list-item--dense .v-list-item__title {
  font-size: 14px !important;
  font-weight: 700 !important;
}
/* Sidebar Border Unset */
/* .v-card > :last-child:not(.v-btn):not(.v-chip),
.v-sheet > :last-child:not(.v-btn):not(.v-chip) {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
} */

/* .v-list--nav {
  padding-right: 0px !important;
} */

/* a.v-list-item.v-list-item--link.theme--light:before,
a.v-list-item.v-list-item--link.theme--light:active {
  background: #f3f2f3 !important;
} */

/* .v-navigation-drawer--mini-variant .v-list-item > :first-child {
  margin-left: 0px !important;
}

.v-list--nav .v-list-item,
.v-list--nav .v-list-item:before {
  border-radius: 4px 0px 0px 4px !important;
} */

.theme--light.v-list-item--active:before,
.theme--light.v-list-item--active:hover:before,
.theme--light.v-list-item:focus:before {
  opacity: 0 !important;
}

.v-list .v-list-item--active,
.v-list .v-list-item--active .v-icon {
  color: #2b4c59 !important;
  background: #f3f2f3 !important;
}

/* Border Sidebar */
.theme--dark.v-navigation-drawer:not(.v-navigation-drawer--floating)
  .v-navigation-drawer__border {
  background-color: unset !important;
}
/* .theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: red !important;
} */
/* .v-list-item--active .v-list-item__title {
  color: #2b4c59 !important;
} */

/* .v-navigation-drawer--fixed {
  z-index: 0 !important;
} */
</style>
