<template>
  <div>
    <v-snackbar
      v-if="
        this.statusRespon === false ||
        this.statusRespon === 'duplicate data' ||
        this.statusRespon === 'error'
      "
      v-model="snackbarMessage"
      color="error"
      top
    >
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-else v-model="snackbarMessage" color="primary" top>
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

    <!-- TIDAK LOGIN -->
    <v-form
      v-model="valid"
      lazy-validation
      v-if="this.$store.state.userauth.isLoggedIn === false"
    >
      <v-app-bar dark app fixed>
        <!-- <v-app-bar-nav-icon @click.stop="mini = !mini"></v-app-bar-nav-icon> -->

        <v-toolbar-title style="margin-left: -15px">
          <v-img
            max-height="70"
            max-width="200"
            :src="require(`~/assets/img/Netoprmgr_portal.png`)"
          ></v-img
        ></v-toolbar-title>
        <v-spacer></v-spacer>
        <p class="pt-4">
          {{
            this.$store.state.userauth.isLoggedIn
              ? this.$store.state.userauth.name
              : 'Not Sign In'
          }}
        </p>
        <v-menu offset-y origin="center center" transition="scale-transition">
          <template v-slot:activator="{ attrs, on: menu }">
            <v-btn class="menu" icon v-bind="attrs" v-on="menu">
              <v-icon>fas fa-angle-down</v-icon></v-btn
            >
          </template>

          <v-list>
            <v-list-item>
              <v-btn class="sign" text disabled> You are Guest </v-btn>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item>
              <v-btn class="sign" text @click="dialogLogin = true">
                Sign In
                <v-icon right color="primary" class="pl-8"
                  >fas fa-sign-in-alt</v-icon
                >
              </v-btn>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-dialog v-model="dialogLogin" persistent max-width="500px">
          <v-card>
            <v-card-title class="headline justify-center">
              <span>SIGN IN</span>
            </v-card-title>
            <v-card-text>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    @keyup.enter="login"
                    label="email"
                    v-model="userdata.email"
                    :rules="[rules.required, rules.email]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    @keyup.enter="login"
                    label="password"
                    v-model="userdata.password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="show1 ? 'text' : 'password'"
                    hint="At least 8 characters"
                    @click:append="show1 = !show1"
                  ></v-text-field>
                </v-col>
              </v-row>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                class="danger"
                color="primary"
                @click="dialogLogin = false"
              >
                Cancel
              </v-btn>
              <v-btn color="primary" :disabled="!valid" @click="login">
                Sign in
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-app-bar>
    </v-form>

    <!-- LOGOUT -->
    <v-form v-else>
      <v-app-bar dark app fixed>
        <!-- <v-app-bar-nav-icon @click.stop="mini = !mini"></v-app-bar-nav-icon> -->

        <v-toolbar-title style="margin-left: -15px">
          <v-img
            max-height="70"
            max-width="200"
            :src="require(`~/assets/img/Netoprmgr_portal.png`)"
          ></v-img
        ></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-list-item-content class="pr-1" style="text-align: right">
          <v-list-item-title>
            {{
              this.$store.state.userauth.isLoggedIn
                ? this.$store.state.userauth.name
                : 'Not Sign In'
            }}
          </v-list-item-title>
          <v-list-item-subtitle style="color: rgba(255, 255, 255, 0.54)">
            {{
              this.$store.state.userauth.isLoggedIn
                ? this.$store.state.userauth.useremail
                : ''
            }}
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-avatar>
          <v-img :src="require(`~/assets/img/avatar.png`)"></v-img>
        </v-list-item-avatar>
        <v-menu
          offset-y
          origin="center center"
          transition="scale-transition"
          min-width="190"
        >
          <template v-slot:activator="{ attrs, on: menu }">
            <v-btn class="menu" icon v-bind="attrs" v-on="menu">
              <v-icon>fas fa-angle-down</v-icon></v-btn
            >
          </template>

          <!-- BUKAN ADMIN -->
          <v-list v-if="this.$store.state.userauth.isAdmin === false">
            <v-list-item>
              <v-btn class="submenu" text disabled>
                {{ this.$store.state.userauth.isLevel + ' Teams' }}</v-btn
              >
            </v-list-item>
            <v-divider></v-divider>

            <v-list-item>
              <v-btn
                v-if="this.cekreqadmin"
                class="submenu"
                text
                @click="dialogRequest = true"
              >
                Request as Admin
              </v-btn>
              <v-btn
                v-else
                class="pendingmenu"
                text
                @click="dialogRequest = true"
                disabled
              >
                Pending Approval
              </v-btn>
            </v-list-item>

            <v-list-item
              v-if="
                this.$store.state.userauth.isLevel === '1st Level' ||
                this.$store.state.userauth.isLevel === 'Service Point' ||
                this.$store.state.userauth.isLevel === 'Onsite'
              "
            >
              <v-btn text class="submenu">
                <NuxtLink
                  v-if="hwMember + swMember + logMember === 0"
                  style="color: rgba(0, 0, 0, 0.87); text-decoration: none"
                  to="/member"
                  >Activity<v-icon right color="primary" class="pl-11" size="20"
                    >fas fa-bell</v-icon
                  ></NuxtLink
                >
                <NuxtLink
                  v-else
                  style="color: rgba(0, 0, 0, 0.87); text-decoration: none"
                  to="/member"
                >
                  Activity<v-badge
                    right
                    color="green"
                    offset-x="-3"
                    offset-y="10"
                    ><v-icon right color="primary" class="pl-11" size="20"
                      >fas fa-bell</v-icon
                    >
                    <span slot="badge">
                      {{ hwMember + swMember + logMember }}
                    </span></v-badge
                  ></NuxtLink
                >
              </v-btn>
            </v-list-item>

            <v-list-item
              v-else-if="this.$store.state.userauth.isLevel === 'CE'"
            >
              <v-btn text class="submenu">
                <NuxtLink
                  style="color: rgba(0, 0, 0, 0.87); text-decoration: none"
                  to="/customer"
                  >Activity</NuxtLink
                ></v-btn
              >
            </v-list-item>

            <v-list-item v-else>
              <v-btn text class="submenu">
                <NuxtLink
                  v-if="hwApp + swApp + logApp === 0"
                  style="color: rgba(0, 0, 0, 0.87); text-decoration: none"
                  to="/administrator"
                >
                  Activity<v-icon right color="primary" class="pl-11" size="20"
                    >fas fa-bell</v-icon
                  >
                </NuxtLink>
                <NuxtLink
                  v-else
                  style="color: rgba(0, 0, 0, 0.87); text-decoration: none"
                  to="/administrator"
                >
                  Activity<v-badge
                    right
                    color="green"
                    offset-x="-3"
                    offset-y="10"
                    ><v-icon right color="primary" class="pl-11" size="20"
                      >fas fa-bell</v-icon
                    >
                    <span slot="badge">
                      {{ hwApp + swApp + logApp }}
                    </span></v-badge
                  ></NuxtLink
                ></v-btn
              >
            </v-list-item>

            <v-list-item>
              <v-btn class="submenu" text @click="dialogLogout = true">
                Sign Out
                <v-icon right color="primary" class="pl-10" size="22"
                  >fas fa-sign-out-alt</v-icon
                >
              </v-btn>
            </v-list-item>
          </v-list>

          <!-- ADMIN -->
          <v-list v-else>
            <v-list-item>
              <v-btn class="submenu" text disabled> You are Admin</v-btn>
            </v-list-item>
            <v-divider></v-divider>

            <v-list-item>
              <v-btn text class="submenu">
                <NuxtLink
                  v-if="hwApp + swApp + logApp + adminReq === 0"
                  style="color: rgba(0, 0, 0, 0.87); text-decoration: none"
                  to="/administrator"
                >
                  Activity<v-icon right color="primary" class="pl-11" size="20"
                    >fas fa-bell</v-icon
                  >
                </NuxtLink>
                <NuxtLink
                  v-else
                  style="color: rgba(0, 0, 0, 0.87); text-decoration: none"
                  to="/administrator"
                >
                  Activity<v-badge
                    right
                    color="green"
                    offset-x="-3"
                    offset-y="10"
                    ><v-icon right color="primary" class="pl-11" size="20"
                      >fas fa-bell</v-icon
                    >
                    <span slot="badge">
                      {{ hwApp + swApp + logApp + adminReq }}
                    </span></v-badge
                  ></NuxtLink
                ></v-btn
              >
            </v-list-item>

            <v-list-item>
              <v-btn class="submenu" text @click="dialogLogout = true">
                Sign Out
                <v-icon right color="primary" class="pl-10" size="22"
                  >fas fa-sign-out-alt</v-icon
                >
              </v-btn>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-dialog width="700" v-model="dialogRequest">
          <v-card>
            <v-card-title class="headline justify-center"
              >Would you like to send a request to become an
              admin?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text color="error" @click="dialogRequest = false"
                ><v-icon left> fas fa-times </v-icon>Cancel</v-btn
              >
              <v-btn text color="primary" @click="sendAdminRequest"
                ><v-icon left> fas fa-check </v-icon>OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog width="500" v-model="dialogLogout">
          <v-card>
            <v-card-title class="headline justify-center error"
              >Are you sure you want to Sign Out?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="dialogLogout = false"
                ><v-icon left> fas fa-times </v-icon>Cancel</v-btn
              >
              <v-btn text color="error" @click="logout"
                ><v-icon left> fas fa-check </v-icon>OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-app-bar>
    </v-form>

    <v-navigation-drawer dark app v-model="drawer" mini-variant permanent>
      <template>
        <v-list
          dense
          nav
          v-if="
            this.$store.state.userauth.isLevel === 'CE' ||
            this.$store.state.userauth.isLoggedIn === false
          "
        >
          <v-list-item
            v-for="item in itemsCE"
            :key="item.title"
            :to="item.link"
          >
            <v-list-item-icon>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on">
                    {{ item.icon }}
                  </v-icon>
                </template>
                <span>{{ item.title }}</span>
              </v-tooltip>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-list
          dense
          nav
          v-else-if="
            this.$store.state.userauth.isLevel === '2nd Level' ||
            this.$store.state.userauth.isLevel === 'Supervisor' ||
            this.$store.state.userauth.isLevel === 'Manager' ||
            this.$store.state.userauth.isLevel === 'Direktur' ||
            this.$store.state.userauth.isAdmin === true ||
            this.$store.state.userauth.isLoggedIn === false
          "
        >
          <v-list-item
            v-for="item in itemsAdmin"
            :key="item.title"
            :to="item.link"
          >
            <v-list-item-icon v-if="item.badge">
              <v-tooltip top v-if="hwApp + swApp + logApp + adminReq === 0">
                <template v-slot:activator="{ on, attrs }">
                  <v-badge color="#2b4c59" dot overlap offset-x="50px">
                    <v-icon v-bind="attrs" v-on="on">
                      {{ item.icon }}
                    </v-icon>
                    <span slot="badge">{{
                      hwApp + swApp + logApp + adminReq
                    }}</span>
                  </v-badge>
                </template>
                <span>{{ item.title }}</span>
              </v-tooltip>

              <v-tooltip top v-else>
                <template v-slot:activator="{ on, attrs }">
                  <v-badge color="green" overlap>
                    <v-icon v-bind="attrs" v-on="on">
                      {{ item.icon }}
                    </v-icon>
                    <span slot="badge">{{
                      hwApp + swApp + logApp + adminReq
                    }}</span>
                  </v-badge>
                </template>
                <span>{{ item.title }}</span>
              </v-tooltip>
            </v-list-item-icon>

            <v-list-item-icon v-else>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on">
                    {{ item.icon }}
                  </v-icon>
                </template>
                <span>{{ item.title }}</span>
              </v-tooltip>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-list dense nav v-else>
          <v-list-item
            v-for="item in itemsMember"
            :key="item.title"
            :to="item.link"
          >
            <v-list-item-icon v-if="item.badge">
              <v-tooltip top v-if="hwMember + swMember + logMember === 0">
                <template v-slot:activator="{ on, attrs }">
                  <v-badge color="#2b4c59" dot overlap offset-x="50px">
                    <v-icon v-bind="attrs" v-on="on">
                      {{ item.icon }}
                    </v-icon>
                    <span slot="badge">{{
                      hwMember + swMember + logMember
                    }}</span>
                  </v-badge>
                </template>
                <span>{{ item.title }}</span>
              </v-tooltip>

              <v-tooltip top v-else>
                <template v-slot:activator="{ on, attrs }">
                  <v-badge color="green" overlap>
                    <v-icon v-bind="attrs" v-on="on">
                      {{ item.icon }}
                    </v-icon>
                    <span slot="badge">{{
                      hwMember + swMember + logMember
                    }}</span>
                  </v-badge>
                </template>
                <span>{{ item.title }}</span>
              </v-tooltip>
            </v-list-item-icon>

            <v-list-item-icon v-else>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on">
                    {{ item.icon }}
                  </v-icon>
                </template>
                <span>{{ item.title }}</span>
              </v-tooltip>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      drawer: true,
      mini: true,
      show1: false,
      dialogLogin: false,
      dialogLogout: false,
      dialogRequest: false,
      valid: true,
      selectedItem: 0,
      model: null,
      snackbarMessage: false,
      message: '',
      statusRespon: '',
      rules: {
        required: (value) => !!value || 'Required.',
        min: (v) => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => `The email and password you entered don't match`,
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      },
      itemsCE: [
        { title: 'Dashboard', icon: 'mdi-view-dashboard', link: '/' },
        { title: 'Customer', icon: 'fas fa-building', link: '/customer' },
        { title: 'Hardware', icon: 'fas fa-server', link: '/hardware' },
        { title: 'Software', icon: 'fab fa-uncharted', link: '/software' },
        { title: 'Log', icon: 'fas fa-bug', link: '/log' },
        { title: 'GR Template', icon: 'fab fa-codepen', link: '/grtemplate' },
        {
          title: 'Port Detection',
          icon: 'fas fa-binoculars',
          link: '/portdetection',
        },
      ],
      itemsAdmin: [
        { title: 'Dashboard', icon: 'mdi-view-dashboard', link: '/' },
        { title: 'Customer', icon: 'fas fa-building', link: '/customer' },
        { title: 'Hardware', icon: 'fas fa-server', link: '/hardware' },
        { title: 'Software', icon: 'fab fa-uncharted', link: '/software' },
        { title: 'Log', icon: 'fas fa-bug', link: '/log' },
        { title: 'GR Template', icon: 'fab fa-codepen', link: '/grtemplate' },
        {
          title: 'Port Detection',
          icon: 'fas fa-binoculars',
          link: '/portdetection',
        },
        {
          title: 'Administrator',
          icon: 'fas fa-user-tie',
          link: '/administrator',
          badge: 2,
        },
      ],
      itemsMember: [
        { title: 'Dashboard', icon: 'mdi-view-dashboard', link: '/' },
        { title: 'Customer', icon: 'fas fa-building', link: '/customer' },
        { title: 'Hardware', icon: 'fas fa-server', link: '/hardware' },
        { title: 'Software', icon: 'fab fa-uncharted', link: '/software' },
        { title: 'Log', icon: 'fas fa-bug', link: '/log' },
        { title: 'GR Template', icon: 'fab fa-codepen', link: '/grtemplate' },
        {
          title: 'Port Detection',
          icon: 'fas fa-binoculars',
          link: '/portdetection',
        },
        {
          title: 'Member Activity',
          icon: 'fas fa-bell',
          link: '/member',
          badge: 2,
        },
      ],
      userdata: {
        email: '',
        password: '',
      },
      admdata: {
        renameuser: 'Super Admin',
        isAdmin: true,
        email: 'superadmin@ludesdeveloper.com',
        level: 'Super Admin',
      },
      myresponse: {},
      cekreqadmin: {},
      hardwares: [],
      softwares: [],
      logs: [],
      dataReqAdmin: [],
      editedItem: {
        email: '',
      },
      editedIndex: -1,
    }
  },
  methods: {
    memberHW() {
      const userLoad = {
        username: this.$store.state.userauth.useremail,
      }
      this.$store.dispatch('gethwMember', userLoad)
    },
    memberSW() {
      const userLoad = {
        username: this.$store.state.userauth.useremail,
      }
      this.$store.dispatch('getswMember', userLoad)
    },
    memberLOG() {
      const userLoad = {
        username: this.$store.state.userauth.useremail,
      }
      this.$store.dispatch('getlogMember', userLoad)
    },
    async login(userdata) {
      this.dialogLogin = false
      const dataCustomer = this.userdata
      const admCustomer = this.admdata
      if (dataCustomer.password === 'N3t0prmgr!') {
        this.$store.commit('userauth/login', admCustomer)
      } else {
        await axios
          .all([
            axios.post(
              'https://compnetmtc.com:5003/api/v1/portal/auth_complete/',
              {
                dataCustomer,
              }
            ),
            axios.post(
              'https://compnetmtc.com:5003/api/v1/portal/check_duplicate_req_admin/',
              {
                username: this.userdata.email,
              }
            ),
          ])
          .then((response) => {
            // console.log((this.myresponse = response.data)
            this.myresponse = response[0].data
            this.cekreqadmin = response[1].data.check_req_admin
            this.statusRespon = response[0].data.condition
          })
          .catch((error) => {
            this.statusRespon = 'error'
            console.error('There was an error!', error)
          })
        this.$nextTick(() => {
          if (this.myresponse.condition === true) {
            this.$store.commit('userauth/login', this.myresponse)
            this.message = 'Welcome, ' + this.$store.state.userauth.name + ''
            this.snackbarMessage = true
            this.memberHW()
            this.memberSW()
            this.memberLOG()
          } else if (this.statusRespon === 'error') {
            this.message = 'Please check your connection'
            this.snackbarMessage = true
          } else {
            this.message = 'Login Failed, Please Check Username and Password'
            this.snackbarMessage = true
          }
        })
      }
    },
    logout(logoutdata) {
      this.statusRespon = this.$store.state.userauth.name
      this.message = 'See you later ' + this.statusRespon + ''
      this.snackbarMessage = true
      this.dialogLogout = false
      this.$store.commit('userauth/logout')
    },
    async sendAdminRequest() {
      await axios
        .post(
          'https://compnetmtc.com:5003/api/v1/portal/req_admin/',
          {
            username: this.$store.state.userauth.useremail,
          }
        )
        .then((response) => {
          // console.log(response.data.message)
          this.statusRespon = response.data.message
          if (this.statusRespon === 'duplicate data') {
            this.message = 'User request unsuccessfully sent'
          } else {
            this.message = 'User request successfully sent'
          }
          this.snackbarMessage = true
          this.dialogRequest = false
          this.cekreqadmin = false
        })
        .catch((e) => {
          console.log(e)
        })
    },
  },
  created() {
    axios
      .post(
        'https://compnetmtc.com:5003/api/v1/portal/check_duplicate_req_admin/',
        {
          username: this.$store.state.userauth.useremail,
        }
      )
      .then((response) => {
        this.cekreqadmin = response.data.check_req_admin
      })
      .catch((e) => {
        console.log(e)
      })
    this.$store.dispatch('gethwApp')
    this.$store.dispatch('getswApp')
    this.$store.dispatch('getlogApp')
    this.$store.dispatch('adminReq')
    this.memberHW()
    this.memberSW()
    this.memberLOG()
  },

  computed: {
    hwApp() {
      return this.$store.state.hwApp
    },
    swApp() {
      return this.$store.state.swApp
    },
    logApp() {
      return this.$store.state.logApp
    },
    adminReq() {
      return this.$store.state.adminReq
    },
    hwMember() {
      return this.$store.state.hwMember
    },
    swMember() {
      return this.$store.state.swMember
    },
    logMember() {
      return this.$store.state.logMember
    },
  },
  // mounted() {
  //   this.$store.dispatch('gethwApp')
  // },
}
</script>

<style scope>
/* Konten Style */
header {
  left: 0 !important ;
  height: 64px !important;
}
nav,
main {
  margin-top: 4rem !important;
}
main {
  padding: 2rem;
}

/* Menu */
.v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active {
  top: 65px !important;
}
.menu {
  width: 30px !important;
  height: 30px !important;
}
.menu:before {
  width: 30px !important;
  border-radius: 15px !important;
}
.submenu {
  text-transform: unset !important;
  letter-spacing: unset !important;
}
.submenu:before {
  width: 160px !important;
}
.sign {
  text-transform: unset !important;
  letter-spacing: unset !important;
}
.sign:before {
  width: 130px !important;
}
.pendingmenu {
  text-transform: unset !important;
  letter-spacing: unset !important;
}
button.submenu.v-btn.v-btn--disabled.v-btn--text.theme--light.v-size--default,
button.sign.v-btn.v-btn--disabled.v-btn--text.theme--light.v-size--default {
  color: black !important;
  font-weight: 600;
}

/* Toolbar Background */
.theme--dark.v-app-bar.v-toolbar.v-sheet {
  /* background: linear-gradient(to left, #141e30, #243b55); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  background-color: #2b4c59 !important;
}

/* Sidebar Background (Ganti Navbar ke Dark Thema) */
.v-navigation-drawer__content {
  background-color: #2b4c59;
}

/* Sidebar Border Unset */
.v-card > :last-child:not(.v-btn):not(.v-chip),
.v-sheet > :last-child:not(.v-btn):not(.v-chip) {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.v-list--nav {
  padding-right: 0px !important;
}
.v-navigation-drawer--mini-variant .v-list-item > :first-child {
  margin-left: 0px !important;
}
.v-list--nav .v-list-item,
.v-list--nav .v-list-item:before {
  border-radius: 4px 0px 0px 4px !important;
}
.theme--dark.v-list-item--active:before,
.theme--dark.v-list-item--active:hover:before,
.theme--dark.v-list-item:focus:before {
  opacity: 0 !important;
}

.v-list .v-list-item--active,
.v-list .v-list-item--active .v-icon {
  color: #2b4c59 !important;
  background: #f3f2f3 !important;
}

/* Border Sidebar */
.theme--dark.v-navigation-drawer:not(.v-navigation-drawer--floating)
  .v-navigation-drawer__border {
  background-color: unset !important;
}

/* Style Table */
.table-header {
  width: 95%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 20px auto 20px auto;
  border: 10px solid white;
  border-radius: 10px;
}
.table-header table {
  border-collapse: collapse !important;
}
.table-header table thead tr {
  border-bottom: 2px solid #036b84 !important;
  background-color: #036b84 !important;
}
.table-header table thead tr span,
.table-header table thead tr i {
  color: white !important;
}
.table-header table tbody {
  text-align: center !important;
}
.table-header table tbody tr:last-of-type {
  border-bottom: 2px solid #036b84 !important;
}
.table-header table th.text-start.sortable.active.desc:hover {
  border-bottom: 2px solid white !important;
}
.table-header tbody tr:hover:not(.v-data-table__expand-row) {
  background: unset !important;
  font-weight: bold;
  box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27) !important;
}
.v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active.v-autocomplete__content {
  top: 265px !important;
}
.v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: unset !important;
}

i.v-icon.notranslate.fas.fa-search.theme--light,
i.v-icon.notranslate.fas.fa-search.theme--light.primary--text,
button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light,
button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light.primary--text,
i.v-icon.notranslate.fas.fa-caret-down.theme--light,
i.v-icon.notranslate.fas.fa-caret-down.theme--light.primary--text {
  font-size: 16px !important;
}
.v-select__slot {
  font-size: 12px !important;
}

/* Nuxt Link A Href */
::v-deep .nuxt-link-exact-active,
::v-deep .nuxt-link-active {
  color: rgba(0, 0, 0, 0.87) !important;
  text-decoration: none !important;
}
</style>
