<template>
  <v-container>
    <v-snackbar
      v-if="this.statusRespon === 'duplicate data'"
      v-model="snackbarMessage"
      color="error"
      top
    >
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-else v-model="snackbarMessage" color="primary" top>
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <!-- Data Table -->
    <v-sheet elevation="4" class="box-tab rounded-lg">
      <v-data-table
        dense
        :headers="headers"
        :items="filteredRows"
        v-model="checked_hardwares"
        show-select
        class="table-hardware"
      >
        <!-- Autocomplete Search -->
        <template v-slot:header="{ props: { headers } }">
          <thead>
            <tr>
              <td :colspan="headers">
                <v-icon>mdi-filter-variant</v-icon>
              </td>
              <td :colspan="headers" height="40px">
                <v-autocomplete
                  v-model="computedAutoComplete.device_pid"
                  :items="hardwares"
                  :loading="isLoading"
                  :search-input.sync="auto_search.device_pid"
                  hide-no-data
                  hide-selected
                  item-text="device_pid"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Product ID (PID)"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
              <td>
                <v-menu
                  ref="datemenusearch_eos"
                  v-model="datemenusearch_eos"
                  :close-on-content-click="false"
                  :return-value.sync="auto_search.end_of_support"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      style="font-size: 5px !important"
                      v-model="auto_search.end_of_support"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      clearable
                      dense
                      solo
                      label="End of Support"
                      append-icon="mdi-calendar"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="auto_search.end_of_support"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn
                      text
                      color="primary"
                      @click="datemenusearch_eos = false"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="
                        $refs.datemenusearch_eos.save(
                          auto_search.end_of_support
                        )
                      "
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </td>
              <td>
                <v-autocomplete
                  v-model="computedAutoComplete.technology"
                  :items="hardwares"
                  :loading="isLoading"
                  :search-input.sync="auto_search.technology"
                  hide-no-data
                  hide-selected
                  item-text="technology"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Technology"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
              <td>
                <v-menu
                  ref="datemenusearch"
                  v-model="datemenusearch"
                  :close-on-content-click="false"
                  :return-value.sync="auto_search.date_generated"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      style="font-size: 5px !important"
                      v-model="auto_search.date_generated"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      clearable
                      dense
                      solo
                      label="Last Modified"
                      append-icon="mdi-calendar"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="auto_search.date_generated"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="datemenusearch = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="
                        $refs.datemenusearch.save(auto_search.date_generated)
                      "
                    >
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </td>
              <td>
                <v-autocomplete
                  v-model="model.generated_by"
                  :items="hardwares"
                  :loading="isLoading"
                  :search-input.sync="auto_search.generated_by"
                  hide-no-data
                  hide-selected
                  item-text="generated_by"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Last Modified By"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
              <td></td>
              <td class="d-none"></td>
            </tr>
          </thead>
        </template>
        <!-- Judul and Button Atas -->
        <template v-slot:top>
          <v-toolbar flat dense>
            <v-toolbar-title>
              <div class="primary--text body-1">
                <v-icon left color="primary"> fas fa-edit </v-icon>EDIT HARDWARE
                APPROVAL
              </div>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title
              ><v-btn
                color="primary"
                class="ml-1 d-none"
                @click="
                  editedItem.generated_by = email
                  dialog = true
                "
              >
                <v-icon left> fas fa-plus-square </v-icon>
                New Data
              </v-btn>
              <v-btn
                color="primary"
                class="d-none"
                @click="
                  csvExport(
                    checked_hardwares.length > 0 ? checked_hardwares : hardwares
                  )
                "
                ><v-icon left> fas fa-file-export </v-icon>
                Export
              </v-btn></v-toolbar-title
            >
          </v-toolbar>
        </template>

        <!-- Table Content -->
        <template v-slot:body="{ items }">
          <tbody v-if="items.length > 0">
            <tr
              v-for="item in items"
              :key="item.id"
              @mouseover="selectItem(item)"
              @mouseleave="unSelectItem()"
            >
              <td v-if="item.approval_id !== 0 && item.generated_by === email">
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-on="on">
                      <v-checkbox
                        v-bind="attrs"
                        v-on="on"
                        multiple
                        v-model="checked_hardwares"
                        :value="item"
                        :ripple="false"
                        hide-details
                        class="ma-0 pa-0 save"
                      ></v-checkbox>
                    </span>
                  </template>
                  <span>Checklist</span>
                </v-tooltip>
              </td>
              <td
                class="truncate"
                v-if="item.approval_id !== 0 && item.generated_by === email"
              >
                {{ item.device_pid }}
              </td>
              <td
                class="truncate"
                style="text-align: center"
                v-if="item.approval_id !== 0 && item.generated_by === email"
              >
                {{ item.end_of_support }}
              </td>
              <td
                class="truncate"
                style="text-align: center"
                v-if="item.approval_id !== 0 && item.generated_by === email"
              >
                {{ item.technology }}
              </td>
              <td
                class="truncate"
                style="text-align: center"
                v-if="item.approval_id !== 0 && item.generated_by === email"
              >
                {{ item.date_generated }}
              </td>
              <td
                class="truncate"
                style="text-align: center"
                v-if="item.approval_id !== 0 && item.generated_by === email"
              >
                {{ item.generated_by }}
              </td>
              <td
                class="truncate"
                style="text-align: center; color: #006699"
                v-if="item.approval_id !== 0 && item.generated_by === email"
              >
                Waiting Approval
                <!-- Action Hide no Hide -->
                <div class="d-flex justify-center">
                  <v-tooltip top v-if="item === selectedItem">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        size="20px"
                        @click="deleteItem(item)"
                        v-bind="attrs"
                        v-on="on"
                        class="delete"
                      >
                        mdi-delete
                      </v-icon>
                    </template>
                    <span>Delete</span>
                  </v-tooltip>
                  <v-tooltip top v-if="item === selectedItem">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        size="20px"
                        @click="editItem(item)"
                        v-bind="attrs"
                        v-on="on"
                        class="save"
                      >
                        fas fa-edit
                      </v-icon>
                    </template>
                    <span>Edit</span>
                  </v-tooltip>
                  <v-tooltip top v-if="item === selectedItem">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        size="20px"
                        @click="copyItem(item)"
                        v-bind="attrs"
                        v-on="on"
                        :class="disabledGuest"
                        class="save"
                      >
                        fas fa-eye
                      </v-icon>
                    </template>
                    <span>Show</span>
                  </v-tooltip>
                </div>
              </td>
              <td class="d-none" style="text-align: center">
                {{ item.approval_id }}
              </td>
            </tr>
          </tbody>
          <!-- Reset Ketika Tidak Ada Data -->
          <tbody v-else>
            <tr>
              <td colspan="7">
                <v-row align="center">
                  <v-col align="center" justify="center">
                    <h1>No Data</h1>
                  </v-col>
                </v-row>
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </v-sheet>

    <!-- Dialog New dan Edit -->
    <v-dialog v-model="dialog" max-width="500px">
      <v-form v-model="valid" lazy-validation>
        <v-card>
          <v-card-title class="headline justify-center">
            <span>{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="12">
                  <v-text-field
                    v-if="editedIndex === -1"
                    v-model="editedItem.device_pid"
                    label="Product ID (PID)"
                    clearable
                    :rules="[rules.required, rules.min]"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="editedItem.device_pid"
                    label="Product ID (PID)"
                    readonly
                    :rules="[rules.required, rules.min]"
                  ></v-text-field
                ></v-col>
                <v-col cols="12" sm="6" md="12">
                  <v-menu
                    ref="datemenuedit_eos"
                    v-model="datemenuedit_eos"
                    :close-on-content-click="false"
                    :return-value.sync="editedItem.end_of_support"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="editedItem.end_of_support"
                        label="Date End of Support"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        append-icon="mdi-calendar"
                        :rules="[rules.required, rules.min]"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="editedItem.end_of_support"
                      no-title
                      scrollable
                    >
                      <v-spacer></v-spacer>
                      <v-btn color="primary" @click="datemenuedit_eos = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        color="primary"
                        @click="
                          $refs.datemenuedit_eos.save(editedItem.end_of_support)
                        "
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" sm="6" md="12">
                  <v-select
                    v-model="editedItem.technology"
                    :items="itemsTech"
                    label="Choose Technology"
                    dense
                    :rules="[rules.required, rules.min]"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6" md="12">
                  <v-menu
                    ref="datemenuedit"
                    v-model="datemenuedit"
                    :close-on-content-click="false"
                    :return-value.sync="editedItem.date_generated"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="editedItem.date_generated"
                        label="Auto Assign Date"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        append-icon="mdi-calendar"
                        disabled
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="editedItem.date_generated"
                      no-title
                      scrollable
                    >
                      <v-spacer></v-spacer>
                      <v-btn color="primary" @click="datemenuedit = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        color="primary"
                        @click="
                          $refs.datemenuedit.save(editedItem.date_generated)
                        "
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" sm="6" md="12">
                  <v-text-field
                    v-model="editedItem.generated_by"
                    label="Last Modified By"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="12" class="d-none">
                  <v-text-field
                    v-model="editedItem.approval_id"
                    label="Approval ID"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="danger primary" @click="close"> Cancel </v-btn>
            <v-btn color="primary" :disabled="!valid" @click="save">
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <!-- Dialog Delete -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline justify-center error"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="closeDelete"
            ><v-icon left> fas fa-times</v-icon>Cancel</v-btn
          >
          <v-btn text color="error" @click="deleteItemConfirm"
            ><v-icon left> mdi-delete </v-icon>OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog Copy -->
    <v-dialog v-model="dialogCopy" max-width="500px">
      <v-card>
        <v-card-title class="headline justify-center"
          >Copy to Clipboard</v-card-title
        >
        <textarea
          class="textarea"
          ref="textToClipboard"
          v-model="clipBoardValue"
          readonly
        ></textarea>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="primary" @click="copyItemConfirm"
            ><v-icon left> fas fa-copy </v-icon>Copy</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    dialog: false,
    dialogCopy: false,
    dialogDelete: false,
    datemenusearch: false,
    datemenusearch_eos: false,
    datemenuedit: false,
    datemenuedit_eos: false,
    snackbarMessage: false,
    valid: true,
    rules: {
      required: (value) => !!value || 'Required.',
      min: (v) => v !== '' || 'This field is required',
      emailMatch: () => `The email and password you entered don't match`,
      email: (value) => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Invalid e-mail.'
      },
    },
    headers: [
      {
        text: 'PRODUCT ID (PID)',
        align: 'center',
        value: 'device_pid',
        width: '16%',
      },
      {
        text: 'END OF SUPPORT',
        value: 'end_of_support',
        align: 'center',
        width: '16%',
      },
      {
        text: 'TECHNOLOGY',
        value: 'technology',
        align: 'center',
        width: '16%',
      },
      {
        text: 'LAST MODIFIED',
        value: 'date_generated',
        align: 'center',
        width: '16%',
      },
      {
        text: 'LAST MODIFIED BY',
        value: 'generated_by',
        align: 'center',
        width: '16%',
      },
      {
        text: 'APPROVAL ID',
        value: 'approval_id',
        align: 'center',
        class: 'd-none',
      },
      {
        text: 'STATUS',
        value: 'status',
        align: 'center',
        width: '16%',
      },
    ],
    itemsTech: [
      'Routing and Switching',
      'Collaboration',
      'Security',
      'Wireless',
      'Data Center',
    ],
    hardwares: [],
    editedIndex: -1,
    editedItem: {
      device_pid: '',
      end_of_support: '',
      date_generated: '',
      generated_by: '',
      approval_id: '',
      technology: '',
    },
    defaultItem: {
      device_pid: '',
      end_of_support: '',
      date_generated: new Date().toISOString().slice(0,10),
      generated_by: '',
      approval_id: '',
      technology: '',
    },
    checked_hardwares: [],
    // v-autocomplete
    descriptionLimit: 60,
    isLoading: false,
    model: {
      device_pid: {},
      end_of_support: {},
      date_generated: {},
      generated_by: {},
      approval_id: {},
      technology: {},
    },
    auto_search: {
      device_pid: '',
      end_of_support: '',
      date_generated: '',
      generated_by: '',
      technology: '',
    },
    clipBoardValue: '',
    hide: 'd-none',
    noHide: '',
    selectedItem: false,
    message: '',
    statusRespon: '',
  }),
  computed: {
    email() {
      return this.$store.state.userauth.useremail
    },
    // disable checker
    disabledChecker() {
      // return !this.$store.state.userauth.isAdmin
      if (
        this.$store.state.userauth.isAdmin === true ||
        this.$store.state.userauth.isLevel === 'Supervisor' ||
        this.$store.state.userauth.isLevel === 'Manager' ||
        this.$store.state.userauth.isLevel === 'Direktur'
      ) {
        return this.noHide
      } else if (
        this.$store.state.userauth.isAdmin === false &&
        this.$store.state.userauth.isLevel === 'CE'
      ) {
        return this.hide
      } else {
        return this.noHide
      }
    },
    disabledGuest() {
      // return !this.$store.state.userauth.isLoggedIn
      if (this.$store.state.userauth.isLoggedIn === false) {
        return this.hide
      } else {
        return this.noHide
      }
    },
    computedAutoComplete() {
      const computedModel = this.model
      if (this.auto_search.device_pid === '') {
        computedModel.device_pid = {}
      }
      if (this.auto_search.end_of_support === '') {
        computedModel.end_of_support = {}
      }
      if (this.auto_search.date_generated === '') {
        computedModel.date_generated = {}
      }
      if (this.auto_search.generated_by === '') {
        computedModel.generated_by = {}
      }
      if (this.auto_search.technology === '') {
        computedModel.technology = {}
      }
      return computedModel
    },
    formTitle() {
      return this.editedIndex === -1 ? 'NEW DATA' : 'EDIT DATA'
    },
    filteredRows() {
      try {
        const filtered = this.hardwares.filter((item) => {
          return Object.keys(this.auto_search).every((key) =>
            String(item[key])
              .toString()
              .toLowerCase()
              .includes(
                (this.auto_search[key] === null
                  ? ''
                  : this.auto_search[key]
                ).toLowerCase()
              )
          )
        })
        return filtered.length > 0 ? filtered : []
      } catch (error) {
        return []
      }
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
    dialogCopy(val) {
      val || this.closeCopy()
    },
  },

  created() {
    axios
      .get('https://compnetmtc.com:5003/api/v1/portal/hardware_approval/')
      .then((res) => (this.hardwares = res.data))
      .catch((err) => console.log(err))
  },

  methods: {
    memberHW() {
      const userLoad = {
        username: this.$store.state.userauth.useremail,
      }
      this.$store.dispatch('gethwMember', userLoad)
    },
    selectItem(item) {
      this.selectedItem = item
    },
    unSelectItem(item) {
      this.selectedItem = false
    },
    initialize() {
      axios
        .get('https://compnetmtc.com:5003/api/v1/portal/hardware_approval/')
        .then((res) => (this.hardwares = res.data))
        .catch((err) => console.log(err))
    },
    editItem(item) {
      this.editedIndex = this.hardwares.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem(item) {
      this.editedIndex = this.hardwares.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    copyItem(item) {
      this.editedIndex = this.hardwares.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogCopy = true
      this.clipBoardValue =
        'Device PID     :' +
        this.editedItem.device_pid +
        '\n' +
        'End of Support :' +
        this.editedItem.end_of_support +
        '\n' +
        'Technology     :' +
        this.editedItem.technology +
        '\n' +
        'Date Generated :' +
        this.editedItem.date_generated +
        '\n' +
        'Generated By   :' +
        this.editedItem.generated_by
    },
    async deleteItemConfirm() {
      let dataHardware = []
      if (this.checked_hardwares.length === 0) {
        const id = this.editedItem.id
        await axios
          .delete(
            'https://compnetmtc.com:5003/api/v1/portal/hardware_approval/' + id + '/'
          )
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Delete Data Failed'
            } else {
              this.message = 'Delete Data Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      } else {
        dataHardware = this.checked_hardwares
        await axios
          .post(
            'https://compnetmtc.com:5003/api/v1/portal/hardware_approval/delete_selected/',
            {
              dataHardware,
            }
          )
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Delete All Data Selected Failed'
            } else {
              this.message = 'Delete All Data Selected Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      }
      this.initialize()
      this.closeDelete()
      this.memberHW()
    },
    copyItemConfirm() {
      this.$refs.textToClipboard.select()
      document.execCommand('copy')
      this.closeCopy()
      this.statusRespon = false
      this.message = 'Copy Success'
      this.snackbarMessage = true
    },
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeCopy() {
      this.dialogCopy = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    currentDateTime() {
      const current = new Date()
      const date =
        current.getFullYear() +
        '-' +
        ('0' + (current.getMonth() + 1)).slice(-2) +
        '-' +
        current.getDate()
      const time =
        ('0' + (current.getHours())).slice(-2) +
        ':' +
        ('0' + (current.getMinutes())).slice(-2) +
        ':' +
        ('0' + (current.getSeconds())).slice(-2)
      const dateTime = date + ' ' + time

      return dateTime
    },
    async save() {
      if (this.editedIndex > -1) {
        const id = this.editedItem.id
        await axios
          .put(
            'https://compnetmtc.com:5003/api/v1/portal/hardware_approval/' + id + '/',
            {
              device_pid: this.editedItem.device_pid.toUpperCase(),
              end_of_support: this.editedItem.end_of_support,
              technology: this.editedItem.technology.toUpperCase(),
              generated_by: this.editedItem.generated_by,
              date_generated: this.currentDateTime(),
              approval_id: this.editedItem.approval_id,
            }
          )
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Request Update Data Failed/Duplicate Data'
            } else {
              this.message = 'Request Update Data Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      } else {
        await axios
          .post('https://compnetmtc.com:5003/api/v1/portal/hardware_approval/', {
            device_pid: this.editedItem.device_pid.toUpperCase(),
            end_of_support: this.editedItem.end_of_support,
            technology: this.editedItem.technology.toUpperCase(),
            date_generated: this.currentDateTime(),
            generated_by: this.editedItem.generated_by,
            approval_id: 0,
          })
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Request Add Data Failed/Duplicate Data'
            } else {
              this.message =
                'Request Add Data Success, Check Request in Activity Page'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      }
      this.initialize()
      this.close()
      this.memberHW()
    },
    csvExport(arrData) {
      let csvContent = 'data:text/csv;charset=utf-8,'
      csvContent += [
        Object.keys(arrData[0]).join(';'),
        ...arrData.map((item) => Object.values(item).join(';')),
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')

      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'End of Support Hardware Approval.csv')
      link.click()
    },
  },
}
</script>

<style scoped>
/* Background Color App */
.bg-color {
  background: #f3f2f3;
  color: rgba(0, 0, 0, 0.87);
}

/* Font App */
.v-application {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
}

/* Table Style */
/* .table-hardware {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 10px solid white;
  border-radius: 10px;
} */
.table-hardware table {
  border-collapse: collapse !important;
}
.table-hardware table tbody tr:last-of-type td,
.table-hardware table tbody tr th {
  border-bottom: 2px solid #036b84 !important;
}
.table-hardware table tbody tr td {
  padding: 0 10px !important;
  font-size: 12px;
}
.table-hardware tbody tr:hover:not(.v-data-table__expand-row) {
  background: unset !important;
  font-weight: bold;
  box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27) !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  padding: 15px 13px !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  background-color: #036b84;
  color: white;
  font-weight: 500;
}
/* Header Hover Table */
::v-deep .theme--light.v-data-table .v-data-table-hardware th.sortable.active,
::v-deep
  .theme--light.v-data-table
  .v-data-table-hardware
  th.sortable.active
  .v-data-table-hardware__icon,
::v-deep .theme--light.v-data-table .v-data-table-hardware th.sortable:hover {
  color: white;
}
/* Header Active Table */
::v-deep .theme--light.v-data-table .v-data-table-hardware th.sortable.active,
::v-deep
  .theme--light.v-data-table
  .v-data-table-hardware
  th.sortable.active
  .theme--light.v-data-table
  .v-data-table-hardware
  th.sortable:hover {
  color: white;
  /* border-top: 2px solid white !important; */
  border-bottom: 3px solid #d93025 !important;
}

/* Font Size Date Picker */
::v-deep
  .v-text-field
  > .v-input__control
  > .v-input__slot
  > .v-text-field__slot {
  font-size: 12px !important;
}
.icon-size i.v-icon {
  font-size: 20px !important;
}
/* Icon */
::v-deep
  i.v-icon.notranslate.v-data-table-hardware__icon.fas.fa-sort-up.theme--light {
  border-bottom: 0px !important;
}
::v-deep i.v-icon.notranslate.far.fa-square.theme--light:hover,
::v-deep
  .theme--light.v-data-table
  .v-data-table-hardware
  th.sortable
  .v-data-table-hardware__icon {
  color: white !important;
}
::v-deep button.v-icon.notranslate.v-icon--link.fas.fa-copy.theme--light:hover,
::v-deep button.v-icon.notranslate.v-icon--link.fas.fa-edit.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-chevron-right.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-chevron-left.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-caret-down.theme--light:hover {
  color: #036b84;
}
::v-deep
  button.v-icon.notranslate.v-icon--link.mdi.mdi-delete.theme--light:hover {
  color: #dc3545;
}
::v-deep i.v-icon.notranslate.far.fa-square.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-minus-square.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-check-square.theme--light {
  font-size: 20px;
}
::v-deep .v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: unset;
}
::v-deep i.v-icon.notranslate.fas.fa-search.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-search.theme--light.primary--text,
::v-deep
  button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light,
::v-deep
  button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light.primary--text {
  font-size: 16px;
}
::v-deep i.v-icon.notranslate.mdi.mdi-calendar.theme--light,
::v-deep i.v-icon.notranslate.mdi.mdi-calendar.theme--light.primary--text {
  font-size: 20px;
}
::v-deep .theme--light.v-icon {
  color: inherit;
}
.delete:hover {
  color: #dc3545 !important;
}
.delete {
  color: rgba(0, 0, 0, 0.54) !important;
}
.save:hover {
  color: #036b84 !important;
}
.save {
  color: rgba(0, 0, 0, 0.54) !important;
}

/* Font Autocomplete Search */
::v-deep .v-select__slot {
  font-size: 12px;
}

/* Dialog Style */
::v-deep .v-card__title {
  background-color: #2b4c59;
  color: white;
}

/* Dialog Copy */
textarea {
  width: 100%;
  height: 200px;
  padding: 5px 5px 5px 20px;
}

/* Maksimal Kata dalam table */
.truncate {
  max-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 3px !important;
}

/* Hover Button Error */
.v-btn.danger:hover {
  background-color: #dc3545 !important;
  color: white !important;
}

/* Autocomplete Height and Size Label */
::v-deep
  .v-input.v-input--dense.theme--light.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--is-booted.v-text-field--enclosed.v-select.v-autocomplete,
::v-deep
  .v-input.v-input--is-readonly.v-input--dense.theme--light.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--is-booted.v-text-field--enclosed {
  height: 45px;
}
::v-deep label.v-label.theme--light {
  font-size: 11px;
}
</style>
