<template>
  <div class="app-container">
    <v-app style="overflow-x: hidden">
      <Header />
      <!-- <HeaderHide /> -->
      <v-main class="pt-0">
        <Nuxt />
      </v-main>
      <Footer />
    </v-app>
  </div>
</template>

<script>
export default {}
</script>

<style>
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.app-container {
  height: 100%;
  position: relative;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
}
.app-content {
  min-height: 100vh;
  padding: 24px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.v-application {
  /* font-family: 'Calibri', sans-serif !important; */
  font-family: 'Poppins', sans-serif !important;
}

/* Dialog Style */
.v-card__title {
  background-color: #2b4c59;
  color: white;
}
</style>
