<template>
  <!-- ADMIN -->
  <v-app fill-height fluid v-if="loading" class="bg-color">
    <v-row align="center">
      <v-col align="center" justify="center">
        <v-progress-circular
          :size="70"
          :width="7"
          color="primary"
          indeterminate
        ></v-progress-circular>
        <h1 class="primary--text">Please wait ...</h1>
      </v-col>
    </v-row>
  </v-app>
  <v-app v-else-if="pageError" fill-height class="bg-color mx-20">
    <v-row align="center">
      <v-col align="center" justify="center">
        <h1>Connection Time Out</h1>
        <v-btn color="error secondary--text" @click="initialize"
          ><v-icon left medium>fas fa-sync-alt</v-icon> Refresh
        </v-btn>
      </v-col>
    </v-row>
  </v-app>
  <v-app
    class="bg-color"
    v-else-if="
      this.$store.state.userauth.isAdmin === true ||
      this.$store.state.userauth.isLevel === 'Direktur' ||
      this.$store.state.userauth.isLevel === 'Supervisor' ||
      this.$store.state.userauth.isLevel === 'Manager'
    "
  >
    <v-sheet elevation="1" class="box-tab rounded-lg" style="margin-top: 45px">
      <v-card class="rounded-lg">
        <v-card-title style="background-color: white">
          <h1 class="primary--text">
            ADMINISTRATOR
            {{ this.$store.state.userauth.isLevel.toUpperCase() }}
          </h1>
        </v-card-title>
        <v-tabs
          v-model="tab"
          left
          icons-and-text
          background-color="#2b4c59"
          color="white"
          dark
          fixed-tabs
          style="border-bottom: 5px solid #2b4c59"
        >
          <v-tabs-slider></v-tabs-slider>
          <v-tab href="#hardware">
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="left" justify="left" v-if="hwApp !== 0"
                ><h1 class="caption pl-2 text-no-wrap green">
                  {{ hwApp + ' Approval Request ' }}&nbsp;
                </h1></v-col
              >
              <v-col align="left" justify="left" v-else
                ><h1 class="caption pl-2 text-no-wrap primary">
                  No Approval Request &nbsp;
                </h1></v-col
              ></v-row
            >
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="center" justify="center"
                ><v-icon small style="padding-bottom: 3px"
                  >fas fa-server</v-icon
                ></v-col
              >
              <v-col align="left" justify="left"
                ><h1 class="font-weight-bold body-1 pl-2">Hardware</h1>
              </v-col>
            </v-row>
          </v-tab>
          <v-tab href="#software">
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="left" justify="left" v-if="swApp !== 0"
                ><h1 class="caption pl-2 text-no-wrap green">
                  {{ swApp + ' Approval Request  ' }}&nbsp;
                </h1>
              </v-col>
              <v-col align="left" justify="left" v-else
                ><h1 class="caption pl-2 text-no-wrap primary">
                  No Approval Request &nbsp;
                </h1></v-col
              ></v-row
            >
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="center" justify="center"
                ><v-icon small style="padding-bottom: 3px"
                  >fab fa-uncharted</v-icon
                ></v-col
              >
              <v-col align="center" justify="center"
                ><h1 class="font-weight-bold body-1 pl-2">Software</h1></v-col
              >
            </v-row>
          </v-tab>
          <v-tab href="#log">
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="left" justify="left" v-if="logApp !== 0"
                ><h1 class="caption pl-2 text-no-wrap green">
                  {{ logApp + ' Approval Request  ' }}&nbsp;
                </h1></v-col
              >
              <v-col align="left" justify="left" v-else
                ><h1 class="caption pl-2 text-no-wrap primary">
                  No Approval Request &nbsp;
                </h1></v-col
              ></v-row
            >
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="center" justify="center"
                ><v-icon small style="padding-bottom: 3px"
                  >fas fa-bug</v-icon
                ></v-col
              >
              <v-col align="center" justify="center"
                ><h1 class="font-weight-bold body-1 pl-2">Log</h1></v-col
              >
            </v-row>
          </v-tab>
          <v-tab href="#user">
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="left" justify="left" v-if="adminReq !== 0"
                ><h1 class="caption pl-2 text-no-wrap green">
                  {{ adminReq + ' Approval Request  ' }}&nbsp;
                </h1></v-col
              >
              <v-col align="left" justify="left" v-else
                ><h1 class="caption pl-2 text-no-wrap primary">
                  No Approval Request &nbsp;
                </h1></v-col
              ></v-row
            >
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="center" justify="center"
                ><v-icon small style="padding-bottom: 3px"
                  >fas fa-user</v-icon
                ></v-col
              >
              <v-col align="center" justify="center"
                ><h1 class="font-weight-bold body-1 pl-2">User</h1></v-col
              >
            </v-row>
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item :key="1" value="hardware">
            <v-container fluid>
              <AdminHardwareAdd />
              <AdminHardwareEdit />
            </v-container>
          </v-tab-item>
          <v-tab-item :key="2" value="software">
            <v-container fluid>
              <AdminSoftwareAdd />
              <AdminSoftwareEdit />
            </v-container>
          </v-tab-item>
          <v-tab-item :key="3" value="log">
            <v-container fluid>
              <AdminLogAdd />
              <AdminLogEdit />
            </v-container>
          </v-tab-item>
          <v-tab-item :key="4" value="user">
            <v-container fluid>
              <AdminRequest />
              <AdminList />
            </v-container>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-sheet>
  </v-app>

  <!-- 2ND LEVEL -->
  <v-app class="bg-color" v-else>
    <v-sheet
      elevation="1"
      class="box-tab rounded-lg"
      v-if="this.$store.state.userauth.isLevel === '2nd Level'"
    >
      <v-card class="rounded-lg">
        <v-card-title style="background-color: white">
          <h1 class="primary--text">
            {{ this.$store.state.userauth.isLevel.toUpperCase() }} TEAMS
          </h1>
        </v-card-title>
        <v-tabs
          v-model="tab"
          left
          icons-and-text
          background-color="#2b4c59"
          color="white"
          dark
          fixed-tabs
          style="border-bottom: 5px solid #2b4c59"
        >
          <v-tabs-slider></v-tabs-slider>
          <v-tab href="#hardware">
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="left" justify="left" v-if="hwApp !== 0"
                ><h1 class="caption pl-2 text-no-wrap green">
                  {{ hwApp + ' Approval Request ' }}&nbsp;
                </h1></v-col
              >
              <v-col align="left" justify="left" v-else
                ><h1 class="caption pl-2 text-no-wrap primary">
                  No Approval Request &nbsp;
                </h1></v-col
              ></v-row
            >
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="center" justify="center"
                ><v-icon small style="padding-bottom: 3px"
                  >fas fa-server</v-icon
                ></v-col
              >
              <v-col align="left" justify="left"
                ><h1 class="font-weight-bold body-1 pl-2">Hardware</h1>
              </v-col>
            </v-row>
          </v-tab>
          <v-tab href="#software">
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="left" justify="left" v-if="swApp !== 0"
                ><h1 class="caption pl-2 text-no-wrap green">
                  {{ swApp + ' Approval Request  ' }}&nbsp;
                </h1>
              </v-col>
              <v-col align="left" justify="left" v-else
                ><h1 class="caption pl-2 text-no-wrap primary">
                  No Approval Request &nbsp;
                </h1></v-col
              ></v-row
            >
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="center" justify="center"
                ><v-icon small style="padding-bottom: 3px"
                  >fab fa-uncharted</v-icon
                ></v-col
              >
              <v-col align="center" justify="center"
                ><h1 class="font-weight-bold body-1 pl-2">Software</h1></v-col
              >
            </v-row>
          </v-tab>
          <v-tab href="#log">
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="left" justify="left" v-if="logApp !== 0"
                ><h1 class="caption pl-2 text-no-wrap green">
                  {{ logApp + ' Approval Request  ' }}&nbsp;
                </h1></v-col
              >
              <v-col align="left" justify="left" v-else
                ><h1 class="caption pl-2 text-no-wrap primary">
                  No Approval Request &nbsp;
                </h1></v-col
              ></v-row
            >
            <v-row no-gutters dense justify="center" align="center">
              <v-col align="center" justify="center"
                ><v-icon small style="padding-bottom: 3px"
                  >fas fa-bug</v-icon
                ></v-col
              >
              <v-col align="center" justify="center"
                ><h1 class="font-weight-bold body-1 pl-2">Log</h1></v-col
              >
            </v-row>
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item :key="1" value="hardware">
            <v-container fluid>
              <AdminHardwareAdd />
              <AdminHardwareEdit />
            </v-container>
          </v-tab-item>
          <v-tab-item :key="2" value="software">
            <v-container fluid>
              <AdminSoftwareAdd />
              <AdminSoftwareEdit />
            </v-container>
          </v-tab-item>
          <v-tab-item :key="3" value="log">
            <v-container fluid>
              <AdminLogAdd />
              <AdminLogEdit />
            </v-container>
          </v-tab-item>
        </v-tabs-items> </v-card
    ></v-sheet>
    <!-- TIDAK ADA AKSES -->
    <v-sheet v-else height="600">
      <v-container fill-height fluid>
        <v-row align="center">
          <v-col align="center" justify="center">
            <v-icon size="60" color="error">fas fa-exclamation-triangle</v-icon>
            <h1 class="error--text">
              You are not granted access to this page !!!
            </h1>
          </v-col>
        </v-row>
      </v-container>
    </v-sheet>
  </v-app>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      tab: 'hardware',
      pageError: false,
      loading: false,
      pageNormal: [],
    }
  },

  mounted() {
    this.$store.dispatch('adminList')
  },

  async created() {
    this.loading = true
    await this.fetchData()
    this.$store.dispatch('gethwApp')
    this.$store.dispatch('getswApp')
    this.$store.dispatch('getlogApp')
    this.$store.dispatch('adminReq')
    this.$store.dispatch('listAdmin')
    this.loading = false
  },

  methods: {
    fetchData() {
      return axios
        .get(
          'https://compnetmtc.com:5003/api/v1/portal/hardware_approval/'
        )
        .then((response) => {
          // console.log(response.data)
          this.pageNormal = response.data
          this.pageError = false
        })
        .catch((e) => {
          console.log(e)
          this.pageError = true
        })
    },
    async initialize() {
      this.loading = true
      await this.fetchData()
      this.$store.dispatch('gethwApp')
      this.$store.dispatch('getswApp')
      this.$store.dispatch('getlogApp')
      this.$store.dispatch('adminReq')
      this.$store.dispatch('listAdmin')
      this.loading = false
    },
  },

  computed: {
    hwApp() {
      return this.$store.state.hwApp
    },
    swApp() {
      return this.$store.state.swApp
    },
    logApp() {
      return this.$store.state.logApp
    },
    adminReq() {
      return this.$store.state.adminReq
    },
    listAdmin() {
      return this.$store.state.listAdmin
    },
  },
}
</script>

<style scoped>
/* Background Color App */
.bg-color {
  background: #f3f2f3;
  color: rgba(0, 0, 0, 0.87);
}

/* Font App */
.v-application {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
}

/* Box Style */
.box-tab {
  width: 93%;
  /* box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12); */
  margin: 30px auto 30px auto;
  /* border: 10px solid white;
  border-radius: 10px; */
}

/* Header Hover Table */
::v-deep
  .theme--light.v-data-table
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: white !important;
}

::v-deep .theme--light.v-data-table .v-data-table-header th.sortable.active,
.theme--light.v-data-table
  .v-data-table-header
  th.sortable.active
  .v-data-table-header__icon,
::v-deep .theme--light.v-data-table .v-data-table-header th.sortable:hover {
  color: white !important;
}

::v-deep .theme--dark.v-icon {
  color: inherit;
}
</style>
