<template>
  <v-app class="bg-color">
    <v-snackbar
      v-if="this.statusRespon === 'duplicate data'"
      v-model="snackbarMessage"
      color="error"
      top
    >
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-else v-model="snackbarMessage" color="primary" top>
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          outlined
          v-bind="attrs"
          @click="snackbarMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-container fill-height fluid v-if="loading">
      <v-row align="center">
        <v-col align="center" justify="center">
          <v-progress-circular
            :size="70"
            :width="7"
            color="primary"
            indeterminate
          ></v-progress-circular>
          <h1 class="primary--text">Please wait ...</h1>
        </v-col>
      </v-row>
    </v-container>
    <v-container v-else-if="pageError" fill-height class="mx-20">
      <v-row align="center">
        <v-col align="center" justify="center">
          <h1>Connection Time Out</h1>
          <v-btn color="error secondary--text" @click="initialize"
            ><v-icon left medium>fas fa-sync-alt</v-icon> Refresh
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid v-else>
      <!-- Data Table -->
      <v-data-table
        dense
        :headers="headers"
        :items="filteredRows"
        v-model="checked_grtemplates"
        show-select
        class="table-grtemplates"
      >
        <!-- Autocomplete Search -->
        <template v-slot:header="{ props: { headers } }">
          <thead>
            <tr>
              <td :colspan="headers">
                <v-icon>mdi-filter-variant</v-icon>
              </td>
              <td :colspan="headers" height="40px">
                <v-autocomplete
                  v-model="computedAutoComplete.script_name"
                  :items="grtemplates"
                  :loading="isLoading"
                  :search-input.sync="auto_search.script_name"
                  hide-no-data
                  hide-selected
                  item-text="script_name"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Script Name"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
              <td :colspan="headers" height="40px">
                <v-autocomplete
                  v-model="computedAutoComplete.device_pid"
                  :items="grtemplates"
                  :loading="isLoading"
                  :search-input.sync="auto_search.device_pid"
                  hide-no-data
                  hide-selected
                  item-text="device_pid"
                  item-value="API"
                  return-object
                  clearable
                  dense
                  solo
                  label="Device Product ID (PID)"
                  append-icon="fas fa-search"
                ></v-autocomplete>
              </td>
            </tr>
          </thead>
        </template>
        <!-- Judul and Button Atas -->
        <template v-slot:top>
          <v-toolbar flat dense>
            <v-toolbar-title
              ><h1 class="primary--text">NETOPRMGR GENERATE REPORT TEMPLATE</h1>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title
              ><v-btn
                color="primary"
                class="ml-1 d-none"
                :class="disabledChecker"
                @click="
                  editedItem.generated_by = email
                  dialog = true
                "
              >
                <v-icon left> fas fa-plus-square </v-icon>
                New Data
              </v-btn>
              <v-btn
                color="primary"
                :class="disabledGuest"
                @click="
                  csvExport(
                    checked_grtemplates.length > 0
                      ? checked_grtemplates
                      : grtemplates
                  )
                "
                ><v-icon left> fas fa-file-export </v-icon>
                Export
              </v-btn></v-toolbar-title
            >
          </v-toolbar>
        </template>

        <!-- Table Content -->
        <template v-slot:body="{ items }">
          <tbody v-if="items.length > 0">
            <tr
              v-for="item in items"
              :key="item.id"
              @mouseover="selectItem(item)"
              @mouseleave="unSelectItem()"
            >
              <td>
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-on="on">
                      <v-checkbox
                        v-bind="attrs"
                        v-on="on"
                        multiple
                        v-model="checked_grtemplates"
                        :value="item"
                        :ripple="false"
                        hide-details
                        class="ma-0 pa-0 save"
                      ></v-checkbox>
                    </span>
                  </template>
                  <span>Checklist</span>
                </v-tooltip>
              </td>
              <td class="truncate" style="text-align: left">
                {{ item.script_name }}
              </td>
              <td class="truncate" style="text-align: left">
                {{ item.device_pid }}

                <!-- Action Hide no Hide -->
                <div class="d-flex justify-center">
                  <v-tooltip top v-if="item === selectedItem">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        size="20px"
                        @click="deleteItem(item)"
                        v-bind="attrs"
                        v-on="on"
                        :class="disabledChecker"
                        class="delete d-none"
                      >
                        mdi-delete
                      </v-icon>
                    </template>
                    <span>Delete</span>
                  </v-tooltip>
                  <v-tooltip top v-if="item === selectedItem">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        size="20px"
                        @click="editItem(item)"
                        v-bind="attrs"
                        v-on="on"
                        :class="disabledChecker"
                        class="save d-none"
                      >
                        fas fa-edit
                      </v-icon>
                    </template>
                    <span>Edit</span>
                  </v-tooltip>
                  <v-tooltip top v-if="item === selectedItem">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        size="20px"
                        @click="copyItem(item)"
                        v-bind="attrs"
                        v-on="on"
                        :class="disabledGuest"
                        class="save"
                      >
                        fas fa-copy
                      </v-icon>
                    </template>
                    <span>Copy</span>
                  </v-tooltip>
                </div>
              </td>
            </tr>
          </tbody>
          <!-- Reset Ketika Tidak Ada Data -->
          <tbody v-else>
            <tr>
              <td colspan="6">
                <v-row align="center">
                  <v-col align="center" justify="center">
                    <h1>No Data</h1>
                  </v-col>
                </v-row>
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>

      <!-- Dialog New dan Edit -->
      <v-dialog v-model="dialog" max-width="500px">
        <v-form v-model="valid" lazy-validation>
          <v-card>
            <v-card-title class="headline justify-center">
              <span>{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="12">
                    <v-text-field
                      v-model="editedItem.script_name"
                      label="Script Name"
                      clearable
                      :rules="[rules.required, rules.min]"
                    ></v-text-field
                  ></v-col>
                  <v-col cols="12" sm="6" md="12">
                    <v-text-field
                      v-model="editedItem.device_pid"
                      label="Device Product ID (PID)"
                      clearable
                      :rules="[rules.required, rules.min]"
                    ></v-text-field
                  ></v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="danger primary" @click="close"> Cancel </v-btn>
              <v-btn color="primary" :disabled="!valid" @click="save">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>

      <!-- Dialog Delete -->
      <v-dialog v-model="dialogDelete" max-width="500px">
        <v-card>
          <v-card-title class="headline justify-center error"
            >Are you sure you want to delete this item?</v-card-title
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="closeDelete"
              ><v-icon left> fas fa-times</v-icon>Cancel</v-btn
            >
            <v-btn text color="error" @click="deleteItemConfirm"
              ><v-icon left> mdi-delete </v-icon>OK</v-btn
            >
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Dialog Copy -->
      <v-dialog v-model="dialogCopy" max-width="500px">
        <v-card>
          <v-card-title class="headline justify-center"
            >Copy to Clipboard</v-card-title
          >
          <textarea
            class="textarea"
            ref="textToClipboard"
            v-model="clipBoardValue"
            readonly
          ></textarea>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="primary" @click="copyItemConfirm"
              ><v-icon left> fas fa-copy </v-icon>Copy</v-btn
            >
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-app>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    loading: false,
    pageError: false,
    dialog: false,
    dialogCopy: false,
    dialogDelete: false,
    snackbarMessage: false,
    valid: true,
    rules: {
      required: (value) => !!value || 'Required.',
      min: (v) => v !== '' || 'This field is required',
      emailMatch: () => `The email and password you entered don't match`,
      email: (value) => {
        const pattern =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Invalid e-mail.'
      },
    },
    headers: [
      {
        text: 'SCRIPT NAME',
        align: 'center',
        value: 'script_name',
      },
      { text: 'DEVICE PRODUCT ID (PID)', value: 'device_pid', align: 'center' },
    ],
    grtemplates: [],
    editedIndex: -1,
    editedItem: {
      script_name: '',
      device_pid: '',
    },
    defaultItem: {
      script_name: '',
      device_pid: '',
    },
    checked_grtemplates: [],
    // v-autocomplete
    descriptionLimit: 60,
    isLoading: false,
    model: {
      script_name: {},
      device_pid: {},
    },
    auto_search: {
      script_name: '',
      device_pid: '',
    },
    clipBoardValue: '',
    hide: 'd-none',
    noHide: '',
    selectedItem: false,
    message: '',
    statusRespon: '',
  }),
  computed: {
    email() {
      return this.$store.state.userauth.useremail
    },
    // disable checker
    disabledChecker() {
      // return !this.$store.state.userauth.isAdmin
      if (this.$store.state.userauth.isAdmin === false) {
        return this.hide
      } else {
        return this.noHide
      }
    },
    disabledGuest() {
      // return !this.$store.state.userauth.isLoggedIn
      if (this.$store.state.userauth.isLoggedIn === false) {
        return this.hide
      } else {
        return this.noHide
      }
    },
    computedAutoComplete() {
      const computedModel = this.model
      if (this.auto_search.script_name === '') {
        computedModel.script_name = {}
      }
      if (this.auto_search.device_pid === '') {
        computedModel.device_pid = {}
      }
      return computedModel
    },
    formTitle() {
      return this.editedIndex === -1 ? 'NEW DATA' : 'EDIT DATA'
    },
    filteredRows() {
      try {
        const filtered = this.grtemplates.filter((item) => {
          return Object.keys(this.auto_search).every((key) =>
            String(item[key])
              .toString()
              .toLowerCase()
              .includes(
                (this.auto_search[key] === null
                  ? ''
                  : this.auto_search[key]
                ).toLowerCase()
              )
          )
        })
        return filtered.length > 0 ? filtered : []
      } catch (error) {
        return []
      }
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
    dialogCopy(val) {
      val || this.closeCopy()
    },
  },

  async created() {
    this.loading = true
    await this.fetchData()
    this.loading = false
  },

  methods: {
    fetchData() {
      return axios
        .get(
          'https://compnetmtc.com:5003/api/v1/portal/grtemplate/'
        )
        .then((response) => {
          // console.log(response.data)
          this.grtemplates = response.data
          this.pageError = false
        })
        .catch((e) => {
          console.log(e)
          this.pageError = true
        })
    },
    selectItem(item) {
      this.selectedItem = item
    },
    unSelectItem(item) {
      this.selectedItem = false
    },
    async initialize() {
      this.loading = true
      await this.fetchData()
      this.loading = false
    },
    editItem(item) {
      this.editedIndex = this.grtemplates.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem(item) {
      this.editedIndex = this.grtemplates.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    copyItem(item) {
      this.editedIndex = this.grtemplates.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogCopy = true
      this.clipBoardValue =
        'Script Name  : ' +
        this.editedItem.script_name +
        '\n' +
        'Device PID   : ' +
        this.editedItem.device_pid
    },
    async deleteItemConfirm() {
      let dataLog = []
      if (this.checked_grtemplates.length === 0) {
        const id = this.editedItem.id
        await axios
          .delete(
            'https://compnetmtc.com:5003/api/v1/portal/grtemplate/' +
              id +
              '/'
          )
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Delete Data Failed'
            } else {
              this.message = 'Delete Data Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      } else {
        dataLog = this.checked_grtemplates
        await axios
          .post(
            'https://compnetmtc.com:5003/api/v1/portal/grtemplate/delete_selected/',
            {
              dataLog,
            }
          )
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Delete All Data Selected Failed'
            } else {
              this.message = 'Delete All Data Selected Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      }
      this.initialize()
      this.closeDelete()
    },
    copyItemConfirm() {
      this.$refs.textToClipboard.select()
      document.execCommand('copy')
      this.closeCopy()
      this.statusRespon = false
      this.message = 'Copy Success'
      this.snackbarMessage = true
    },
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeCopy() {
      this.dialogCopy = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    async save() {
      if (this.editedIndex > -1) {
        const id = this.editedItem.id
        await axios
          .put(
            'https://compnetmtc.com:5003/api/v1/portal/grtemplate/' +
              id +
              '/',
            {
              script_name: this.editedItem.script_name.toUpperCase(),
              device_pid: this.editedItem.device_pid.toUpperCase(),
            }
          )
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Add Data Failed/Duplicate Data'
            } else {
              this.message = 'Update Data Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      } else {
        await axios
          .post(
            'https://compnetmtc.com:5003/api/v1/portal/grtemplate/',
            {
              script_name: this.editedItem.script_name.toUpperCase(),
              device_pid: this.editedItem.device_pid.toUpperCase(),
            }
          )
          .then((response) => {
            // console.log(response.data.message)
            this.statusRespon = response.data.message
            if (this.statusRespon === 'duplicate data') {
              this.message = 'Add Data Failed/Duplicate Data'
            } else {
              this.message = 'Add Data Success'
            }
            this.snackbarMessage = true
          })
          .catch((e) => {
            console.log(e)
          })
      }
      this.initialize()
      this.close()
    },
    csvExport(arrData) {
      let csvContent = 'data:text/csv;charset=utf-8,'
      csvContent += [
        Object.keys(arrData[0]).join(';'),
        ...arrData.map((item) => Object.values(item).join(';')),
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')

      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'GR Template.csv')
      link.click()
    },
  },
}
</script>

<style scoped>
/* Background Color App */
.bg-color {
  background: #f3f2f3;
  color: rgba(0, 0, 0, 0.87);
}

/* Font App */
.v-application {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
}

/* Table Style */
.table-grtemplates {
  width: 95%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 30px auto 30px auto;
  border: 10px solid white;
  border-radius: 10px;
}
.table-grtemplates table {
  border-collapse: collapse !important;
}
.table-grtemplates table tbody tr:last-of-type td,
.table-grtemplates table tbody tr th {
  border-bottom: 2px solid #036b84 !important;
}
.table-grtemplates table tbody tr td {
  padding: 0 10px !important;
  font-size: 12px;
}
.table-grtemplates tbody tr:hover:not(.v-data-table__expand-row) {
  background: unset !important;
  font-weight: bold;
  box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27) !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  padding: 15px 13px !important;
}
::v-deep .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  background-color: #036b84;
  color: white;
  font-weight: 500;
}
/* Header Hover Table */
::v-deep .theme--light.v-data-table .v-data-table-header th.sortable.active,
::v-deep
  .theme--light.v-data-table
  .v-data-table-header
  th.sortable.active
  .v-data-table-header__icon,
::v-deep .theme--light.v-data-table .v-data-table-header th.sortable:hover {
  color: white;
}
/* Header Active Table */
::v-deep .theme--light.v-data-table .v-data-table-header th.sortable.active,
::v-deep
  .theme--light.v-data-table
  .v-data-table-header
  th.sortable.active
  .theme--light.v-data-table
  .v-data-table-header
  th.sortable:hover {
  color: white;
  /* border-top: 2px solid white !important; */
  border-bottom: 3px solid #d93025 !important;
}

/* Font Size Date Picker */
::v-deep
  .v-text-field
  > .v-input__control
  > .v-input__slot
  > .v-text-field__slot {
  font-size: 12px !important;
}
.icon-size i.v-icon {
  font-size: 20px !important;
}
/* Icon */
::v-deep
  i.v-icon.notranslate.v-data-table-header__icon.fas.fa-sort-up.theme--light {
  border-bottom: 0px !important;
}
::v-deep i.v-icon.notranslate.far.fa-square.theme--light:hover,
::v-deep
  .theme--light.v-data-table
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: white !important;
}
::v-deep button.v-icon.notranslate.v-icon--link.fas.fa-copy.theme--light:hover,
::v-deep button.v-icon.notranslate.v-icon--link.fas.fa-edit.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-chevron-right.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-chevron-left.theme--light:hover,
::v-deep i.v-icon.notranslate.fas.fa-caret-down.theme--light:hover {
  color: #036b84;
}
::v-deep
  button.v-icon.notranslate.v-icon--link.mdi.mdi-delete.theme--light:hover {
  color: #dc3545;
}
::v-deep i.v-icon.notranslate.far.fa-square.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-minus-square.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-check-square.theme--light {
  font-size: 20px;
}
::v-deep .v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: unset;
}
::v-deep i.v-icon.notranslate.fas.fa-search.theme--light,
::v-deep i.v-icon.notranslate.fas.fa-search.theme--light.primary--text,
::v-deep
  button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light,
::v-deep
  button.v-icon.notranslate.v-icon--link.fas.fa-times-circle.theme--light.primary--text {
  font-size: 16px;
}
::v-deep i.v-icon.notranslate.mdi.mdi-calendar.theme--light,
::v-deep i.v-icon.notranslate.mdi.mdi-calendar.theme--light.primary--text {
  font-size: 20px;
}
::v-deep .theme--light.v-icon {
  color: inherit;
}
.delete:hover {
  color: #dc3545 !important;
}
.delete {
  color: rgba(0, 0, 0, 0.54) !important;
}
.save:hover {
  color: #036b84 !important;
}
.save {
  color: rgba(0, 0, 0, 0.54) !important;
}

/* Font Autocomplete Search */
::v-deep .v-select__slot {
  font-size: 12px;
}

/* Dialog Style */
::v-deep .v-card__title {
  background-color: #2b4c59;
  color: white;
}

/* Dialog Copy */
textarea {
  width: 100%;
  height: 200px;
  padding: 5px 5px 5px 20px;
}

/* Maksimal Kata dalam table */
.truncate {
  max-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 3px !important;
}

/* Hover Button Error */
.v-btn.danger:hover {
  background-color: #dc3545 !important;
  color: white !important;
}

/* Autocomplete Height and Size Label */
::v-deep
  .v-input.v-input--dense.theme--light.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--is-booted.v-text-field--enclosed.v-select.v-autocomplete,
::v-deep
  .v-input.v-input--is-readonly.v-input--dense.theme--light.v-text-field.v-text-field--single-line.v-text-field--solo.v-text-field--is-booted.v-text-field--enclosed {
  height: 45px;
}
::v-deep label.v-label.theme--light {
  font-size: 11px;
}
</style>
