<template>
  <v-app class="bg-color">
    <v-container fluid>
      <v-card class="table-index">
        <v-row align="center">
          <v-col align="center" justify="center">
            <v-img
              width="800"
              :src="require(`~/assets/img/Under Mtc.png`)"
            ></v-img>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
export default {}
</script>

<style scoped>
.table-index {
  width: 95%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 20px auto 20px auto;
  border: 10px solid white;
  border-radius: 10px;
}
.bg-color {
  background: #f3f2f3 !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
</style>
