<template>
  <v-app fill-height fluid v-if="loading" class="bg-color">
    <v-row align="center">
      <v-col align="center" justify="center">
        <v-progress-circular
          :size="70"
          :width="7"
          color="primary"
          indeterminate
        ></v-progress-circular>
        <h1 class="primary--text">Please wait ...</h1>
      </v-col>
    </v-row>
  </v-app>
  <v-app v-else-if="pageError" fill-height class="bg-color mx-20">
    <v-row align="center">
      <v-col align="center" justify="center">
        <h1>Connection Time Out</h1>
        <v-btn color="error secondary--text" @click="initialize"
          ><v-icon left medium>fas fa-sync-alt</v-icon> Refresh
        </v-btn>
      </v-col>
    </v-row>
  </v-app>
  <v-app
    v-else-if="
      this.$store.state.userauth.isLevel === '2nd Level' ||
      this.$store.state.userauth.isLevel === 'Supervisor' ||
      this.$store.state.userauth.isLevel === 'Manager' ||
      this.$store.state.userauth.isLevel === 'Direktur' ||
      this.$store.state.userauth.isAdmin === true ||
      this.$store.state.userauth.isLoggedIn === false
    "
  >
    <v-container fill-height fluid>
      <v-row align="center">
        <v-col align="center" justify="center">
          <v-icon size="60" color="error">fas fa-exclamation-triangle</v-icon>
          <h1 class="error--text">
            You are not granted access to this page !!!
          </h1>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
  <v-app class="bg-color" v-else>
    <v-container fluid>
      <v-sheet elevation="1" class="box-tab rounded-lg">
        <v-card class="rounded-lg">
          <v-card-title style="background-color: white">
            <h1 class="primary--text">
              {{ this.$store.state.userauth.isLevel.toUpperCase() }} TEAMS
            </h1>
          </v-card-title>
          <v-tabs
            v-model="tab"
            left
            icons-and-text
            background-color="#2b4c59"
            color="white"
            dark
            fixed-tabs
            style="border-bottom: 5px solid #2b4c59"
          >
            <v-tabs-slider></v-tabs-slider>
            <v-tab href="#hardware">
              <v-row no-gutters dense justify="center" align="center">
                <v-col align="left" justify="left" v-if="hwMember !== 0"
                  ><h1 class="caption pl-2 text-no-wrap green">
                    {{ hwMember + ' Waiting Approval ' }}&nbsp;
                  </h1></v-col
                >
                <v-col align="left" justify="left" v-else
                  ><h1 class="caption pl-2 text-no-wrap primary">
                    No Waiting Approval &nbsp;
                  </h1></v-col
                ></v-row
              >
              <v-row no-gutters dense justify="center" align="center">
                <v-col align="center" justify="center"
                  ><v-icon small style="padding-bottom: 3px"
                    >fas fa-server</v-icon
                  ></v-col
                >
                <v-col align="left" justify="left"
                  ><h1 class="font-weight-bold body-1 pl-2">Hardware</h1>
                </v-col>
              </v-row>
            </v-tab>
            <v-tab href="#software">
              <v-row no-gutters dense justify="center" align="center">
                <v-col align="left" justify="left" v-if="swMember !== 0"
                  ><h1 class="caption pl-2 text-no-wrap green">
                    {{ swMember + ' Waiting Approval  ' }}&nbsp;
                  </h1>
                </v-col>
                <v-col align="left" justify="left" v-else
                  ><h1 class="caption pl-2 text-no-wrap primary">
                    No Waiting Approval &nbsp;
                  </h1></v-col
                ></v-row
              >
              <v-row no-gutters dense justify="center" align="center">
                <v-col align="center" justify="center"
                  ><v-icon small style="padding-bottom: 3px"
                    >fab fa-uncharted</v-icon
                  ></v-col
                >
                <v-col align="center" justify="center"
                  ><h1 class="font-weight-bold body-1 pl-2">Software</h1></v-col
                >
              </v-row>
            </v-tab>
            <v-tab href="#log">
              <v-row no-gutters dense justify="center" align="center">
                <v-col align="left" justify="left" v-if="logMember !== 0"
                  ><h1 class="caption pl-2 text-no-wrap green">
                    {{ logMember + ' Waiting Approval  ' }}&nbsp;
                  </h1></v-col
                >
                <v-col align="left" justify="left" v-else
                  ><h1 class="caption pl-2 text-no-wrap primary">
                    No Waiting Approval &nbsp;
                  </h1></v-col
                ></v-row
              >
              <v-row no-gutters dense justify="center" align="center">
                <v-col align="center" justify="center"
                  ><v-icon small style="padding-bottom: 3px"
                    >fas fa-bug</v-icon
                  ></v-col
                >
                <v-col align="center" justify="center"
                  ><h1 class="font-weight-bold body-1 pl-2">Log</h1></v-col
                >
              </v-row>
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item :key="1" value="hardware">
              <v-container fluid>
                <MemberHardwareAdd />
                <MemberHardwareEdit />
              </v-container>
            </v-tab-item>
            <v-tab-item :key="2" value="software">
              <v-container fluid>
                <MemberSoftwareAdd />
                <MemberSoftwareEdit />
              </v-container>
            </v-tab-item>
            <v-tab-item :key="3" value="log">
              <v-container fluid>
                <MemberLogAdd />
                <MemberLogEdit />
              </v-container>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-sheet>
    </v-container>
  </v-app>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      tab: 'hardware',
      pageError: false,
      loading: false,
      pageNormal: [],
    }
  },

  async created() {
    this.loading = true
    await this.fetchData()
    this.memberHW()
    this.memberSW()
    this.memberLOG()
    this.$store.dispatch('adminReq')
    this.loading = false
  },

  methods: {
    memberHW() {
      const userLoad = {
        username: this.$store.state.userauth.useremail,
      }
      this.$store.dispatch('gethwMember', userLoad)
    },
    memberSW() {
      const userLoad = {
        username: this.$store.state.userauth.useremail,
      }
      this.$store.dispatch('getswMember', userLoad)
    },
    memberLOG() {
      const userLoad = {
        username: this.$store.state.userauth.useremail,
      }
      this.$store.dispatch('getlogMember', userLoad)
    },
    fetchData() {
      return axios
        .get(
          'https://compnetmtc.com:5003/api/v1/portal/hardware_approval/'
        )
        .then((response) => {
          // console.log(response.data)
          this.pageNormal = response.data
          this.pageError = false
        })
        .catch((e) => {
          console.log(e)
          this.pageError = true
        })
    },
    async initialize() {
      this.loading = true
      await this.fetchData()
      this.memberHW()
      this.memberSW()
      this.memberLOG()
      this.$store.dispatch('adminReq')
      this.loading = false
    },
  },

  computed: {
    hwMember() {
      return this.$store.state.hwMember
    },
    swMember() {
      return this.$store.state.swMember
    },
    logMember() {
      return this.$store.state.logMember
    },
    adminReq() {
      return this.$store.state.adminReq
    },
  },
}
</script>

<style scoped>
/* Background Color App */
.bg-color {
  background: #f3f2f3;
  color: rgba(0, 0, 0, 0.87);
}

/* Font App */
.v-application {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
}

/* Box Style */
.box-tab {
  width: 95%;
  /* box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12); */
  margin: 30px auto 30px auto;
  /* border: 10px solid white;
  border-radius: 10px; */
}

/* Header Hover Table */
::v-deep
  .theme--light.v-data-table
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: white !important;
}

::v-deep .theme--light.v-data-table .v-data-table-header th.sortable.active,
.theme--light.v-data-table
  .v-data-table-header
  th.sortable.active
  .v-data-table-header__icon,
::v-deep .theme--light.v-data-table .v-data-table-header th.sortable:hover {
  color: white !important;
}

::v-deep .theme--dark.v-icon {
  color: inherit;
}
</style>
