<template>
  <v-app class="bg-color">
    <v-container fill-height fluid v-if="loading">
      <v-row align="center">
        <v-col align="center" justify="center">
          <v-progress-circular
            :size="70"
            :width="7"
            color="primary"
            indeterminate
          ></v-progress-circular>
          <h1 class="primary--text">Please wait ...</h1>
        </v-col>
      </v-row>
    </v-container>
    <v-container v-else-if="pageError" fill-height class="mx-20">
      <v-row align="center">
        <v-col align="center" justify="center">
          <h1>Connection Time Out</h1>
          <v-btn color="error secondary--text" @click="initialize"
            ><v-icon left medium>fas fa-sync-alt</v-icon> Refresh
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid v-else>
      <v-simple-table class="table-port" dense>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-center">PORT NUMBER</th>
              <th class="text-center">STATUS</th>
              <th class="text-center">GO TO LINK</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in ports" :key="item.port">
              <td class="text-center">
                {{ item.port }}
              </td>
              <td class="text-center" v-if="item.user === '0'">Available</td>
              <td class="text-center" v-else-if="item.user === 'Unreachable'">
                Unreachable
              </td>
              <td class="text-center" v-else>
                {{ item.user }}
              </td>
              <td class="text-center" v-if="item.user === '0'">
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <a :href="item.url" target="_blank">
                      <v-icon
                        size="20px"
                        v-bind="attrs"
                        v-on="on"
                        color="primary"
                      >
                        fas fa-external-link-alt
                      </v-icon></a
                    >
                  </template>
                  <span>{{ item.url }}</span>
                </v-tooltip>
              </td>
              <td class="text-center" v-else>
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon size="20px" v-bind="attrs" v-on="on" disabled>
                      fas fa-external-link-alt
                    </v-icon>
                  </template>
                  <span>Go to Link</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
        <template v-slot:top>
          <v-toolbar flat dense>
            <v-toolbar-title
              ><h1 class="primary--text">STATUS PORT</h1>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title
              ><v-btn color="error secondary--text" @click="initialize"
                ><v-icon left medium>fas fa-sync-alt</v-icon> Refresh
              </v-btn></v-toolbar-title
            >
          </v-toolbar>
        </template>
      </v-simple-table>
    </v-container>
  </v-app>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    ports: [],
    loading: false,
    pageError: false,
  }),
  async created() {
    this.loading = true
    await this.fetchData()
    this.loading = false
  },
  methods: {
    fetchData() {
      return axios
        .get(
          'https://compnetmtc.com:5003/api/v1/portal/portdetection/'
        )
        .then((response) => {
          // console.log(response.data)
          this.ports = response.data
          this.pageError = false
        })
        .catch((e) => {
          console.log(e)
          this.pageError = true
        })
    },
    async initialize() {
      this.loading = true
      await this.fetchData()
      this.loading = false
    },
  },
}
</script>

<style>
/* Style Table */
.table-port {
  width: 95%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 20px auto 20px auto;
  border: 10px solid white;
  border-radius: 10px;
}
.table-port table {
  border-collapse: collapse !important;
}
.table-port table thead tr {
  border-bottom: 2px solid #036b84 !important;
  /* border-top: 2px solid #036b84 !important; */
  background-color: #036b84 !important;
}
.table-port table thead tr th {
  color: white !important;
}
.table-port table tbody tr:last-of-type {
  border-bottom: 2px solid #036b84 !important;
}
.table-port tbody tr:hover:not(.v-data-table__expand-row) {
  background: unset !important;
  font-weight: bold;
  box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.27) !important;
}
a:link {
  text-decoration: none;
}
.bg-color {
  background: #f3f2f3 !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
</style>
